{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {% if title %}
    <title>HRM-{{ title }}</title>
    {% else %}
    <title>HRM</title>
    {% endif %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/style3/jquery.dataTables.css' %}" rel="stylesheet">
    <link href="{% static 'css/style3/rowReorder.dataTables.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style3/responsive.dataTables.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet">
    <link href="{% static 'css/timepicker.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/style3/simple-sidebar.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-multiselect.css' %}" rel="stylesheet">
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</head>

<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div> <img src="{% static 'images/esafe_logo.jpeg' %}" width="240px" height="53px" /></div>
            <div class="list-group list-group-flush">
                <ul class="navbar-nav">
                    <li class="list-group-item bg-light">
                        <a class="nav-link" href="{% url 'login:dashboard' %}">
                            <i class="fa fa-tachometer" aria-hidden="true"> Dashboard</i>
                        </a>
                    </li>
                    {% if perms.masters %}
                    <li class="list-group-item bg-light">
                        <a class="nav-link " href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-cog" aria-hidden="true"> Masters <i class="fa fa-angle-down"
                                    aria-hidden="true"></i></i>
                        </a>
                        
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            {% if perms.masters.add_job %}
                            <a class="list-group-item list-group-item-action bg-light" href="{% url 'jobtitle' %}">
                                Job Titles
                            </a>
                            {% endif %}
                            {% if perms.masters.add_jobgrade %}
                            <a class="list-group-item list-group-item-action bg-light" href="{% url 'jobgrade' %}">
                                Job Grades
                            </a>
                            {% endif %}

                            {% if perms.masters.add_employementstatus %}
                            <a class="list-group-item list-group-item-action bg-light" href="{% url 'status' %}">
                                Employment Types
                            </a>
                            {% endif %}

                            {% if perms.masters.add_department %}
                            <a class="list-group-item list-group-item-action bg-light" href="{% url 'department' %}">
                                Departments
                            </a>
                            {% endif %}

                            {% if perms.masters.add_location %}
                            <a class="list-group-item list-group-item-action bg-light" href="{% url 'worklocation' %}">
                                Work Location
                            </a>
                            {% endif %}
                        </div>
                        
                    </li>
                    {% endif %}
                    
                    {% if perms.organisation %}
                    <li class="list-group-item bg-light">
                        <a class="nav-link " href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-university" aria-hidden="true"> Organisation <i class="fa fa-angle-down"
                                    aria-hidden="true"></i></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            {% if perms.organisation.add_leveldefinition %}
                            <a class="list-group-item list-group-item-action bg-light"
                                href="{% url 'organisation:levelslist' %}">
                                Organisation Levels
                            </a>
                            {% endif %}

                            
                            <a class="list-group-item list-group-item-action bg-light"
                                href="{% url 'organisation:orgchart' %}">
                                Organisation Chart
                            </a>
                            
                        </div>
                    </li>
                    {% endif %}
                    {% if perms.pim %}
                    <li class="list-group-item bg-light">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-address-card-o" aria-hidden="true"> Employee Management <i
                                    class="fa fa-angle-down" aria-hidden="true"></i></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            {% if perms.pim.add_personal_details %}
                            <a class="list-group-item list-group-item-action bg-light"
                                href="{% url 'pim:employeelist' %}">
                                <i class="fa fa-users" aria-hidden="true"> Employee List</i>
                            </a>
                            {% endif %}
                        </div>
                    </li>
                    {% endif %}
                    {% if perms.leaves %}
                    <li class="list-group-item bg-light">
                        <a class="nav-link " href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-bars" aria-hidden="true"> Leaves <i class="fa fa-angle-down"
                                    aria-hidden="true"></i></i>
                        </a>
                        
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            {% if perms.leaves.add_leavetype %}
                            <a class="list-group-item list-group-item-action bg-light"
                                href="{% url 'leaves:leavetype' %}">
                                Leave Type
                            </a>
                            {% endif %}

                            {% if perms.leaves.add_leavestructure %}
                            <a class="list-group-item list-group-item-action bg-light"
                                href="{% url 'leaves:leavestructure'  %}">
                                Leave Structure
                            </a>
                            {% endif %}

                            {% if perms.leaves.add_assignleavestructure %}
                            <a class="list-group-item list-group-item-action bg-light"
                                href="{% url 'leaves:assignleavestructure'  %}">
                                Assign Leave Structure
                            </a>
                            {% endif %}

                            {% if perms.leaves.add_leavedetails %}
                            <a class="list-group-item list-group-item-action bg-light"
                                href="{% url 'leaves:applyleave'  %}">
                                My Leave Entitlements
                            </a>
                            {% endif %}

                            {% if perms.leaves.add_holidays %}
                            <a class="list-group-item list-group-item-action bg-light"
                                href="{% url 'leaves:holidays'  %}">
                                Holidays
                            </a>
                            {% endif %}
                        </div>
                    </li>
                    {% endif %}
                    
                    {% if perms.attendance %}
                    <li class="list-group-item bg-light">
                        <a class="nav-link " href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-address-book" aria-hidden="true"></i> Attendance <i class="fa fa-angle-down"
                                aria-hidden="true"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            {% if perms.attendance.add_tardinessdetails %}
                            <a class="list-group-item list-group-item-action bg-light"
                                href="{% url 'attendance:policies' %}">
                                Attendance Policies
                            </a>
                            {% endif %}

                            {% if perms.attendance.add_shiftdetails %}
                            <a class="list-group-item list-group-item-action bg-light"
                                href="{% url 'attendance:employeeshiftlist'  %}">
                                Employee Shifts
                            </a>
                            {% endif %}

                            {% if perms.attendance.add_employeeattendance %}
                            <a class="list-group-item list-group-item-action bg-light"
                                href="{% url 'attendance:uploadattendance'  %}">
                                Attendance Upload
                            </a>
                            {% endif %}
                        </div>
                    </li>
                    {% endif %}
                    <li>
                        <a class="list-group-item list-group-item-action bg-light" href="{% url 'login:logout' %}">
                            <i class="fa fa-sign-out" aria-hidden="true"> Logout</i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light border-bottom">
                <button class="btn btn-primary" id="menu-toggle"><i class="fa fa-bars" aria-hidden="true"></i></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
                <ul class="navbar-nav">
                    <li class="userli">
                        Welcome {{ user.first_name }} {{ user.last_name }}, &nbsp;&nbsp;
                    </li>
                    <li class="userli">
                        Last login : {{ user.last_login }}
                    </li>
                </ul>
            </nav>
            <div class="container-fluid">
                <div class="card" style="margin-top:5px;">
                    <div class="card-body">
                        {% block content  %} {% endblock%}
                    </div>
                </div>

            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'js/timepicker.js' %}"></script>
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script> -->
    <script src="{% static 'js/bootstrap-multiselect.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'js/dataTables.rowReorder.min.js' %}"></script>
    <script src="{% static 'js/dataTables.responsive.min.js' %}"></script>
    <!-- Menu Toggle Script -->
    <script>
        $(document).ready(function () {
            var table = $('#example').DataTable({
                rowReorder: {
                    selector: 'td:nth-child(2)'
                },
                responsive: true,
                fixedHeader: true
            });
        });

        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

</body>

</html>