{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {% if title %}
    <title>HRM-{{ title }}</title>
    {% else %}
    <title>HRM</title>
    {% endif %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">
    <style>
        .nav-link {
            padding: 0px !important;
            color: black;
        }
    </style>
</head>

<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading"> Resource Management</div>
            <div class="list-group list-group-flush">
                <ul class="navbar-nav">
                    <li class="list-group-item bg-light">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                            Masters
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="list-group-item list-group-item-action bg-light" href="{% url 'jobtitle' %}" onclick="alertfunction()" >
                                Job Titles
                            </a>
                            <a class="list-group-item list-group-item-action bg-light" href="{% url 'jobcategory' %}">
                                Job Categories
                            </a>
                            <a class="list-group-item list-group-item-action bg-light" href="{% url 'jobgrade' %}">
                                Job Grades
                            </a>
                            <a class="list-group-item list-group-item-action bg-light" href="{% url 'component' %}">
                                Salary Components
                            </a>
                            <a class="list-group-item list-group-item-action bg-light" href="{% url 'status' %}">
                                Employment Status
                            </a>
                            <a class="list-group-item list-group-item-action bg-light" href="{% url 'department' %}">
                                Departments
                            </a>
                            <a class="list-group-item list-group-item-action bg-light" href="{% url 'location' %}">
                                Location
                            </a>                            
                        </div>
                    </li>
                    <li class="list-group-item bg-light">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            PIM
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="list-group-item list-group-item-action bg-light" href="{% url 'pim:employeelist' %}">
                                Employee List
                            </a>
                        </div>
                    </li>
                    <li>
                        <a class="list-group-item list-group-item-action bg-light" href="{% url 'logout' %}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <button class="btn btn-primary" id="menu-toggle"><i class="fa fa-angle-left"></i> <i
                        class="fa fa-angle-right"></i></button>
                <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button> -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
                <h4><b><a>Hai {{ user.username }}</a></b></h4> 
            </nav>
            <div class="container-fluid" >
                {% block content  %} {% endblock%}
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
<div class="modal" tabindex="-1" role="dialog" id="mymodal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">ALERT!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" >
        <p>Are you sure you want to redirect?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="yes">Yes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="no">No</button>
      </div>
    </div>
  </div>
</div>


    <!-- /#wrapper -->
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
   
</body>
</html>