{# Load the tag library #}
{% load bootstrap4 %}
{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}

    {% if title %}
    <title>HRM-{{ title }}</title>
    {% else %}
    <title>HRM</title>
    {% endif %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">
                <p style="color:ghostwhite;">Resource Management</p>
            </div>
            <ul class="list-unstyled components">
                <li>
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Master
                        Set-Up</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="{% url 'jobtitle' %}">Job Titles</a>
                        </li>
                        <li>
                            <a href="{% url 'jobcategory' %}">Job Categories</a>
                        </li>
                        <li>
                            <a href="{% url 'jobgrade' %}">Job Grades</a>
                        </li>
                        <li>
                            <a href="{% url 'component' %}">Salary Components</a>
                        </li>
                        <li>
                            <a href="{% url 'status' %}">Employment Status</a>
                        </li>
                        <li>
                            <a href="{% url 'department' %}">Departments</a>
                        </li>   
                    </ul>
                </li>
                <li>
                    <a href="#empmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">PIM</a>
                    <ul class="collapse list-unstyled" id="empmenu">
                        <li>
                            <a href="{% url 'pim:employeelist' %}">Employee List</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
        </nav>

        <div class="container-fluid" style="min-height:500px;">
            <nav class="navbar sticky-top navbar-expand-lg navbar-light">
                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fa fa-align-justify"></i> <span></span>
                </button>
            </nav>
            {% block content %}{% endblock %}
        </div>
    </div>
    {% bootstrap_javascript jquery='full' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });  
    </script>
</body>

</html>