{% extends "login/base.html" %}
{% block content %}
<style>
    .dashboardbg{
        background-color: rgb(70, 125, 156);
    }

    .navbar-brand{
        color: white !important;
        text-align:right !important;
    }

</style>
<body>
    <div class="navbar navbar-default navbar-inverse navbar-fixed-top dashboardbg">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type = "button" class = "navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" >
                    <span class = "sr-only">Toggle Navigation</span>
                    <span class = "icon-bar"></span>
                    <span class = "icon-bar"></span>
                    <span class = "icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"> HRM </a>
            </div>
            <div class = "navbar-collapse collapse">
                <ul class = "nav navbar-nav navbar-right">
                    <li><a href="">Masters</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    <script>
	    $(document).ready(function(){
			$('#sidebarCollapse').on('click',function(){
				$('#sidebar').toggleClass('active');
			});
		});  
	</script>
</body>
{% endblock %}