{# Load the tag library #}
{% load static %}
{% load bootstrap4 %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
     

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <link href="{% static 'css/style1/login.css' %}" rel="stylesheet">
    {% if title %}
    <title>HRM-{{ title }}</title>
    {% else %}
    <title>HRM</title>
    {% endif %}
<head>
</head>

<body class = "bodybg">
    <div class="navbar navbar-default navbar-inverse navbar-fixed-top dashboardbg">
        <div class="container">
            <div class="navbar-header">
                <img class="imgclass"  src = "{% static 'images/esafe_logo.jpeg' %}" width="auto" height="50px" />
            </div>
        </div>
    </div>
    <div class="container" >
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12" >
                <form class = "log" id="login" action="login/" name="login" method="POST">
                    {# Display django.contrib.messages as Bootstrap alerts #}
                    {% bootstrap_messages %}
                    {% csrf_token %}
                    <h1>
                        <i class="fa fa-user-o" aria-hidden="true"></i><br>Login
                    </h1>
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" name="username" id="username" class="form-control"
                            placeholder="Enter Username" required >
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" name="password" id="password" class="form-control"
                            placeholder="Enter password" required>
                    </div>
                    <button type="submit" name="login" class="btn btn-primary btn-block">
                        Login
                    </button>
                </form>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12"></div>
        </div>
    </div>

    {% bootstrap_javascript jquery='full' %}   
    {% bootstrap_javascript %}
</body>
</html>