{% extends 'login/dashboard.html' %}
{% block content %}
<div class="container-fluid text-right" style="margin:10px;">
    <h4 style="float: left;margin-left: -22px;">Departments</h4>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addjobdepartment">
        Add
    </button>
</div>
<div class="card" style="margin: 10px 0px 10px 0px;"></div>
<table id="example" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>#</th>
            <th>Department Name</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for department in departments %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ department.departmentname }}</td>
            <td>{{ department.description }}</td>
            <td style="text-align: center;" data-toggle="tooltip" title="Click to edit">
                <a href="#" data-toggle="modal" data-target="#editjobdepartment{{ department.id }}"><i
                        class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<div class="modal fade" id="addjobdepartment" tabindex="-1" role="dialog" aria-labelledby="addjobdepartmentLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addjobdepartmentLabel">Add Department</h5>
            </div>
            <form action="" name="adddepartment" id="adddepartment" method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="departmentname">Department Name</label><span>*</span>
                            <input type="text" class="form-control" id="departmentname" name="departmentname" value=""
                                onblur="deptvalidate(this);return false;" data-url="{% url 'department' %}" required>
                            <div class="col-md-8 col-sm-8" style="color:red;display:none;margin-top: 4px;"
                                id="login_not">
                                <i class="fa fa-times" aria-hidden="true">Already exist.</i>
                            </div>
                            <div class="col-md-6 col-sm-6" style="color: green;display: none;margin-top: 4px;"
                                id="login_ok">
                                <i class="fa fa-check" aria-hidden="true">Available.</i>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="description">Description</label>
                            <input type="text" class="form-control" id="description" name="description" value="">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="save">Save</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% for department in departments %}
<div class="modal fade" id="editjobdepartment{{ department.id }}" tabindex="-1" role="dialog"
    aria-labelledby="editjobdepartmentLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editjobdepartmentLabel">Edit Department</h5>
            </div>
            <form action="/masters/editdepartment/{{ department.id }}/" name="editdepartment" id="editdepartment"
                method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="departmentname">Department Name</label><span>*</span>
                            <input type="text" class="form-control" id="departmentname" name="departmentname"
                                value="{{ department.departmentname }}"
                                onblur="deptedit(this,{{ department.id }});return false;"
                                data-url="{% url 'department' %}" required>
                            <div class="col-md-8 col-sm-8" style="color:red;display:none;margin-top: 4px;"
                                id="edit_not{{ department.id }}">
                                <i class="fa fa-times" aria-hidden="true">Already exist.</i>
                            </div>
                            <div class="col-md-6 col-sm-6" style="color: green;display: none;margin-top: 4px;"
                                id="edit_ok{{ department.id }}">
                                <i class="fa fa-check" aria-hidden="true">Available.</i>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="description">Description</label>
                            <input type="text" class="form-control" id="description" name="description"
                                value="{{ department.description }}">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="editsave{{ department.id }}">Save</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endfor %}
<script>
    function deptvalidate(element) {
        $("#login_ok").hide();
        $("#login_not").hide();
        document.getElementById("save").disabled = false;
        departmentname = $(element).val();
        if (departmentname == "") {
            return;
        }
        $.ajax({
            url: $(element).attr("data-url"),
            data: {
                "departmentname": departmentname,
                "csrfmiddlewaretoken": '{{ csrf_token }}',
            },
            method: "POST",
            dataType: "json",
            success: function (data) {
                if (data.is_success) {
                    $("#login_ok").show();
                    document.getElementById("save").disabled = false;
                } else {
                    $("#login_not").show();
                    document.getElementById("save").disabled = true;
                }
            }
        });
    }
    function deptedit(element, id) {
        $("#edit_ok" + id).hide();
        $("#edit_not" + id).hide();
        document.getElementById("editsave" + id).disabled = false;
        departmentname = $(element).val();
        if (departmentname == "") {
            return;
        }
        $.ajax({
            url: $(element).attr("data-url"),
            data: {
                "departmentname": departmentname,
                "csrfmiddlewaretoken": '{{ csrf_token }}',
            },
            method: "POST",
            dataType: "json",
            success: function (data) {
                if (data.is_success) {
                    {% comment %} $("#edit_ok" + id).show(); {% endcomment %}
                    {% comment %} document.getElementById("editsave" + id).disabled = false; {% endcomment %}
                } else {
                    $("#edit_not" + id).show();
                    document.getElementById("editsave" + id).disabled = true;
                }
            }
        });
    }
</script>
{% endblock %}