{% extends 'login/dashboard.html' %}
{% block content %}
{% if perms.masters.view_employmentstatus %}
<div class="container-fluid text-right clearfix" style="margin:10px;">
    <h4 style="float: left;margin-left: -22px;">Employment Type</h4>
    {% if perms.masters.add_employmentstatus %}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addjobstatus">
        Add
    </button>
    {% endif %}
</div>
<div class="card" style="margin: 10px 0px 10px 0px;"></div>
        <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Employment Type</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for status in statuses %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ status.employementstatus }}</td>
                <td style="text-align: center;" data-toggle="tooltip" title="Click to edit">
                    {% if perms.masters.change_employmentstatus %}
                    <a href="#" data-toggle="modal" data-target="#editjobstatus{{ status.id }}"><i
                            class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="modal fade" id="addjobstatus" tabindex="-1" role="dialog" aria-labelledby="addjobstatusLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addjobstatusLabel">Add Employment Type</h5>
            </div>
            <form action="" name="addstatus" id="addstatus" method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-8">
                            <label for="employementstatus">Employment Type</label><span>*</span>
                            <input type="text" class="form-control" id="employementstatus" name="employementstatus" value="" onblur="statusvalidate(this);" data-url="{% url 'employementstatusajax' %}" required>
                            <div class="col-md-6 col-sm-6" style="color:red;display:none;margin-top: 4px;"  id="login_not">
                                <i class="fa fa-times" aria-hidden="true">Already exist.</i>
                            </div>
                            <div class="col-md-6 col-sm-6" style="color: green;display: none;margin-top: 4px;" id="login_ok">
                                <i class="fa fa-check" aria-hidden="true">Available.</i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="save">Save</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% for status in statuses %}
<div class="modal fade" id="editjobstatus{{ status.id }}" tabindex="-1" role="dialog"
    aria-labelledby="editjobstatusLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editjobstatusLabel">Edit Employment Type</h5>
            </div>
            <form action="/masters/editstatus/{{ status.id }}/" name="editstatus" id="editstatus" method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-9">
                            <label for="employementstatus">Employment Type</label><span>*</span>
                            <input type="text" class="form-control" id="employementstatus" name="employementstatus"
                                value="{{ status.employementstatus }}" onblur="statusedit(this,{{ status.id }});" data-url="{% url 'editemployementstatusajax' status.id %}" required>
                            <div class="col-md-6 col-sm-6" style="color:red;display:none;margin-top: 4px;"  id="edit_not{{ status.id }}">
                                <i class="fa fa-times" aria-hidden="true">Already exist.</i>
                            </div>
                            <div class="col-md-6 col-sm-6" style="color: green;display: none;margin-top: 4px;" id="edit_ok{{ status.id }}">
                                <i class="fa fa-check" aria-hidden="true">Available.</i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="editsave{{ status.id }}">Save</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
<h4 style="float: left;">You are not Authorized to view this page </h4>
{% endif %}
<script>
function statusvalidate(element) {
	$("#login_ok").hide();
	$("#login_not").hide();
    document.getElementById("save").disabled = false;
	employementstatus = $(element).val();
	$.ajax({
		url : $(element).attr("data-url"),
		data : {
            "employementstatus":employementstatus,
			"csrfmiddlewaretoken" : '{{ csrf_token }}',
		},
		method: "POST",
		dataType : "json",
		success : function (data) {
			if (data.is_success) {
				$("#login_ok").show();
                document.getElementById("save").disabled = false;
			}else {
				$("#login_not").show();
                document.getElementById("save").disabled = true;
			}
		}
	});
}
function statusedit(element,id) {
    $("#edit_ok"+id).hide();
	$("#edit_not"+id).hide();
    document.getElementById("editsave"+id).disabled = false;
	employementstatus = $(element).val();
	$.ajax({
		url : $(element).attr("data-url"),
		data : {
            "employementstatus":employementstatus,
			"csrfmiddlewaretoken" : '{{ csrf_token }}',
		},
		method: "POST",
		dataType : "json",
		success : function (data) {
			if (data.is_success) {
				 $("#edit_ok"+id).show();
                document.getElementById("editsave"+id).disabled = false;
			}else {
				$("#edit_not"+id).show();
                document.getElementById("editsave"+id).disabled = true;
			}
		}
	});
}
</script>
{% endblock %}