{% extends 'login/dashboard.html' %}
{% block content %}
<div class="container-fluid text-right" style="margin:10px;">
        <h4 style="float: left;margin-left: -22px;">Job Categories</h4>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addjobcategory">
        Add
    </button>
</div>
<div class="card" style="margin: 10px 0px 10px 0px;"></div>
        <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Job Category</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ category.jobcategory }}</td>
                <td data-toggle="tooltip" title="Click to edit">
                    <a href="#" data-toggle="modal" data-target="#editjobcategory{{ category.id }}">
                        <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="modal fade" id="addjobcategory" tabindex="-1" role="dialog" aria-labelledby="addjobcategoryLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addjobcategoryLabel">Add Job Category</h5>
            </div>
            <form action="" name="addcategory" id="addcategory" method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-9">
                            <label for="jobcategory">Job Category</label><span>*</span>
                            <input type="text" class="form-control" id="jobcategory" name="jobcategory" value=""
                            onblur="catedit(this);return false;" data-url="{% url 'jobcategory' %}" required>
                            <div class="col-md-6 col-sm-6" style="color:red;display:none;margin-top: 4px;"  id="login_not">
                                <i class="fa fa-times" aria-hidden="true">Already exist.</i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="save">Save</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% for category in categories %}
<div class="modal fade" id="editjobcategory{{ category.id }}" tabindex="-1" role="dialog"
    aria-labelledby="editjobcategoryLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editjobcategoryLabel">Edit Job Category</h5>
            </div>
            <form action="/masters/editjobcategory/{{ category.id }}/" name="editcategory" id="editcategory"
                method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-9">
                            <label for="jobcategory">Job Category</label><span>*</span>
                            <input type="text" class="form-control" id="jobcategory" name="jobcategory"
                                value="{{ category.jobcategory }}" onblur="catedit(this,{{ category.id }});" data-url="{% url 'jobcategory' %}" required>
                            <div class="col-md-6 col-sm-6" style="color:red;display:none;margin-top: 4px;"  id="edit_not{{ category.id }}">
                                <i class="fa fa-times" aria-hidden="true">Already exist.</i>
                            </div>
                            <div class="col-md-6 col-sm-6" style="color: green;display: none;margin-top: 4px;" id="edit_ok{{ category.id }}">
                                <i class="fa fa-check" aria-hidden="true">Available.</i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="editsave{{ category.id }}">Save</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endfor %}
<script>
function catvalidate(element) {
	$("#login_ok").hide();
	$("#login_not").hide();
    document.getElementById("save").disabled = false;
	jobcategory = $(element).val();
	if (jobcategory == "") {
		return;
	}
	$.ajax({
		url : $(element).attr("data-url"),
		data : {
            "jobcategory":jobcategory,
			"csrfmiddlewaretoken" : '{{ csrf_token }}',
		},
		method: "POST",
		dataType : "json",
		success : function (data) {
			if (data.is_success) {
				{% comment %} $("#login_ok").show(); {% endcomment %}
                {% comment %} document.getElementById("save").disabled = false; {% endcomment %}
			}else {
				$("#login_not").show();
                document.getElementById("save").disabled = true;
			}
		}
	});
}
function catedit(element,id) {
    $("#edit_ok"+id).hide();
	$("#edit_not"+id).hide();
    document.getElementById("editsave"+id).disabled = false;
	jobcategoryvalue = $(element).val();
	if (jobcategoryvalue == "") {
		return false;
	}
	$.ajax({
		url : $(element).attr("data-url"),
		data : {
            "jobcategory":jobcategoryvalue,
			"csrfmiddlewaretoken" : '{{ csrf_token }}',
		},
		method: "POST",
		dataType : "json",
		success : function (data) {
			if (data.is_success) {
				 $("#edit_ok"+id).show();
                document.getElementById("editsave"+id).disabled = false;
			}else {
				$("#edit_not"+id).show();
                document.getElementById("editsave"+id).disabled = true;
			}
		}
	});
} 
</script>
{% endblock %}