{% extends 'login/dashboard.html' %}
{% block content %}
{% if perms.masters.view_jobgrade %}
<div class="container-fluid text-right clearfix" style="margin:10px;">
    <h4 style="float: left;margin-left: -22px;">Job Grades</h4>
    {% if perms.masters.add_jobgrade %}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addjobgrade">
        Add
    </button>
    {% endif %}
</div>
<div class="card" style="margin: 10px 0px 10px 0px;"></div>
        <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Job Grade</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for grade in grades %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ grade.jobgrade }}</td>
                <td data-toggle="tooltip" title="Click to edit">
                    {% if perms.masters.change_jobgrade %}
                    <a href="#" data-toggle="modal" data-target="#editjobgrade{{ grade.id }}"><i
                            class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="modal fade" id="addjobgrade" tabindex="-1" role="dialog" aria-labelledby="addjobgradeLabel"
    aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addjobgradeLabel">Add Job Grade</h5>
            </div>
            <form action="" name="addgrade" id="addgrade" method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-8">
                            <label for="jobgrade">Job Grade</label><span>*</span>
                            <input type="text" class="form-control" id="jobgrade" name="jobgrade" value="" onblur="gradevalidate(this);return false;" data-url="{% url 'jobgradeajax' %}" required>
                            <div class="col-md-6 col-sm-6" style="color:red;display:none;margin-top: 4px;"  id="login_not">
                                <i class="fa fa-times" aria-hidden="true">Already exist.</i>
                            </div>
                            <div class="col-md-6 col-sm-6" style="color: green;display: none;margin-top: 4px;" id="login_ok">
                                <i class="fa fa-check" aria-hidden="true">Available.</i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="save">Save</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% for grade in grades %}
<div class="modal fade" id="editjobgrade{{ grade.id }}" tabindex="-1" role="dialog" aria-labelledby="editjobgradeLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editjobgradeLabel">Edit Job Grade</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-window-close" aria-hidden="true"></i>
                </button>
            </div>
            <form action="/masters/editjobgrade/{{ grade.id }}/" name="editgrade" id="editgrade" method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-8">
                            <label for="jobgrade">Job Grade</label><span>*</span>
                            <input type="text" class="form-control" id="jobgrade" name="jobgrade"
                                value="{{ grade.jobgrade }}" onblur="gradeedit(this,{{ grade.id }});
                                " data-url="{% url 'editjobgradeajax' grade.id  %}" required>
                            <div class="col-md-6 col-sm-6" style="color:red;display:none;margin-top: 4px;"  id="edit_not{{ grade.id }}">
                                <i class="fa fa-times" aria-hidden="true">Already exist.</i>
                            </div>
                            <div class="col-md-6 col-sm-6" style="color: green;display: none;margin-top: 4px;" id="edit_ok{{ grade.id }}">
                                <i class="fa fa-check" aria-hidden="true">Available.</i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="editsave{{ grade.id }}">Save</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
<h4 style="float: left;">You are not Authorized to view this page </h4>
{% endif %}
<script>
function gradevalidate(element) {
	$("#login_ok").hide();
	$("#login_not").hide();
    document.getElementById("save").disabled = false;
	jobgrade = $(element).val();
	$.ajax({
		url : $(element).attr("data-url"),
		data : {
            "jobgrade":jobgrade,
			"csrfmiddlewaretoken" : '{{ csrf_token }}',
		},
		method: "POST",
		dataType : "json",
		success : function (data) {
			if (data.is_success) {
				$("#login_ok").show();
                document.getElementById("save").disabled = false;
			}else {
				$("#login_not").show();
                document.getElementById("save").disabled = true;
			}
		}
	});
}
function gradeedit(element,id) {
    $("#edit_ok"+id).hide();
	$("#edit_not"+id).hide();
    document.getElementById("editsave"+id).disabled = false;
	jobgrade = $(element).val();
	$.ajax({
		url : $(element).attr("data-url"),
		data : {
            "jobgrade":jobgrade,
			"csrfmiddlewaretoken" : '{{ csrf_token }}',
		},
		method: "POST",
		dataType : "json",
		success : function (data) {
			if (data.is_success) {
				 $("#edit_ok"+id).show();
                document.getElementById("editsave"+id).disabled = false;
			}else {
				$("#edit_not"+id).show();
                document.getElementById("editsave"+id).disabled = true;
			}
		}
	});
}
</script>
{% endblock %}