{% extends 'login/dashboard.html' %}
{% block content %}
<div class="container-fluid text-right" style="margin:10px;">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addjobtitle">
        Add
    </button>
</div>
<div class="card" style="margin-top: 10px;">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Job Title</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for job in jobs %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ job.jobtitle }}</td>
                <td>{{ job.jobdescription }}</td>
                <td>
                    <a href="#" data-toggle="modal" data-target="#editjobtitle{{ job.id }}"><i
                            class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="modal fade" id="addjobtitle" tabindex="-1" role="dialog" aria-labelledby="addjobtitleLabel"
    aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addjobtitleLabel">Add Jobtitle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-window-close" aria-hidden="true"></i>
                </button>
            </div>
            <form action="" name="addjob" id="addjob" method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-5">
                            <label for="jobtitle">Job Title</label><span>*</span>
                            <input type="text" class="form-control" id="jobtitle" name="jobtitle" value="" required>
                        </div>
                        <div class="col-md-7">
                            <label for="description">Description</label>
                            <input type="text" class="form-control" id="jobdescription" name="jobdescription" value="">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% for job in jobs %}
<div class="modal fade" id="editjobtitle{{job.id}}" tabindex="-1" role="dialog" aria-labelledby="editjobtitleLabel"
    aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editjobtitleLabel">Edit Jobtitle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-window-close" aria-hidden="true"></i>
                </button>
            </div>
            <form action="/masters/editjobtitle/{{ job.id }}/" name="editjob" id="editjob" method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-5">
                            <label for="jobtitle">Job Title</label><span>*</span>
                            <input type="text" class="form-control" id="jobtitle" name="jobtitle"
                                value="{{ job.jobtitle }}" required>
                        </div>
                        <div class="col-md-7">
                            <label for="description">Description</label>
                            <input type="text" class="form-control" id="jobdescription" name="jobdescription"
                                value="{{ job.jobdescription }}">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}