{% extends 'login/dashboard.html' %}
{% block content %}
<div class="container-fluid text-right" style="margin:10px;">
        <h4 style="float: left;margin-left: -22px;">Work Locations </h4>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addjoblocation">
        Add
    </button>
</div>
<div class="card" style="margin: 10px 0px 10px 0px;"></div>
        <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Work Location</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for location in locations %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ location.location }}</td>
                <td  data-toggle="tooltip" title="Click to edit">
                    <a href="#" data-toggle="modal" data-target="#editjoblocation{{ location.id }}"><i
                            class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="modal fade" id="addjoblocation" tabindex="-1" role="dialog" aria-labelledby="addjoblocationLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addjoblocationLabel">Add Work Location</h5>
            </div>
            <form action="" name="addlocation" id="addlocation" method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="locationname">Location</label><span>*</span>
                            <input type="text" class="form-control" id="locationname" name="locationname" value="" onblur="locationvalidate(this);return false;" data-url="{% url 'location' %}" required>
                            <div class="col-md-8 col-sm-8" style="color:red;display:none;margin-top: 4px;"  id="login_not">
                                <i class="fa fa-times" aria-hidden="true">Already exist.</i>
                            </div>
                            <div class="col-md-6 col-sm-6" style="color: green;display: none;margin-top: 4px;" id="login_ok">
                                <i class="fa fa-check" aria-hidden="true">Available.</i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="save">Save</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% for location in locations %}
<div class="modal fade" id="editjoblocation{{ location.id }}" tabindex="-1" role="dialog"
    aria-labelledby="editjoblocationLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editjoblocationLabel">Edit Work Location</h5>
            </div>
            <form action="/masters/editlocation/{{ location.id }}/" name="editlocation" id="editlocation"
                method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="locationname">Location</label><span>*</span>
                            <input type="text" class="form-control" id="locationname" name="locationname" value="{{ location.location }}" onblur="locationedit(this,{{ location.id }});" data-url="{% url 'location' %}" required>
                            <div class="col-md-8 col-sm-8" style="color:red;display:none;margin-top: 4px;"  id="edit_not{{ location.id }}">
                                <i class="fa fa-times" aria-hidden="true">Already exist.</i>
                            </div>
                            <div class="col-md-6 col-sm-6" style="color: green;display: none;margin-top: 4px;" id="edit_ok{{ location.id }}">
                                <i class="fa fa-check" aria-hidden="true">Available.</i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="editsave{{ location.id }}">Save</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endfor %}
<script>
function locationvalidate(element) {
	$("#login_ok").hide();
	$("#login_not").hide();
    document.getElementById("save").disabled = false;
	locationname = $(element).val();
	if (locationname == "") {
		return;
	}
	$.ajax({
		url : $(element).attr("data-url"),
		data : {
			"csrfmiddlewaretoken" : '{{ csrf_token }}',
            "locationname":locationname,
		},
		method: "POST",
		dataType : "json",
		success : function (data) {
			if (data.is_success) {
				$("#login_ok").show();
                document.getElementById("save").disabled = false;
			}else {
				$("#login_not").show();
                document.getElementById("save").disabled = true;
			}
		}
	});
}
function locationedit(element,id) {
    $("#edit_ok"+id).hide();
	$("#edit_not"+id).hide();
    document.getElementById("editsave"+id).disabled = false;
	locationnamevalue = $(element).val();
	if (locationnamevalue == "") {
		return false;
	}
	$.ajax({
		url : $(element).attr("data-url"),
		data : {
            "locationname":locationnamevalue,
			"csrfmiddlewaretoken" : '{{ csrf_token }}',
		},
		method: "POST",
		dataType : "json",
		success : function (data) {
			if (data.is_success) {
				 $("#edit_ok"+id).show();
                document.getElementById("editsave"+id).disabled = false;
			}else {
				$("#edit_not"+id).show();
                document.getElementById("editsave"+id).disabled = true;
			}
		}
	});
}
</script>
{% endblock %}