{% extends 'login/dashboard.html' %}
{% block content %}
<div class="container-fluid text-right" style="margin:10px;">
    <h4 style="float: left;margin-left: -22px;">Salary Components</h4>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addcomponent">
        Add
    </button>
</div>
<div class="card" style="margin: 10px 0px 10px 0px;"></div>
    <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Component Name</th>
                <th>Type</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for component in components %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ component.componentname }}</td>
                <td>{{ component.types }}</td>
                <td  data-toggle="tooltip" title="Click to edit">
                    <a href="#" data-toggle="modal" data-target="#editcomponent{{ component.id }}"><i
                            class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="modal fade" id="addcomponent" tabindex="-1" role="dialog" aria-labelledby="addcomponentLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addcomponentLabel">Add Salary Component</h5>
            </div>
            <form action="" name="addsalary" id="addsalary" method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="componentname">Component Name</label><span>*</span>
                            <input type="text" class="form-control" id="componentname" name="componentname" value="" onblur="componentvalidate(this);return false;" data-url="{% url 'component' %}" required>
                            <div class="col-md-8 col-sm-8" style="color:red;display:none;margin-top: 4px;"  id="login_not">
                                <i class="fa fa-times" aria-hidden="true">Already exist.</i>
                            </div>
                            <div class="col-md-6 col-sm-6" style="color: green;display: none;margin-top: 4px;" id="login_ok">
                                <i class="fa fa-check" aria-hidden="true">Available.</i>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="types">Type</label>
                            <input type="text" class="form-control" id="types" name="types" value="">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="save">Save</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% for component in components %}
<div class="modal fade" id="editcomponent{{ component.id }}" tabindex="-1" role="dialog"
    aria-labelledby="editcomponentLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editcomponentLabel">Edit Salary Component</h5>
            </div>
            <form action="/masters/editcomponent/{{ component.id }}/" name="editsalary" id="editsalary"
                method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="componentname">Component Name</label><span>*</span>
                            <input type="text" class="form-control" id="componentname" name="componentname"
                                value="{{ component.componentname }}" onblur="componentedit(this,{{ component.id }});" data-url="{% url 'component' %}" required>
                            <div class="col-md-8 col-sm-8" style="color:red;display:none;margin-top: 4px;"  id="edit_not{{ component.id }}">
                                <i class="fa fa-times" aria-hidden="true">Already exist.</i>
                            </div>
                            <div class="col-md-6 col-sm-6" style="color: green;display: none;margin-top: 4px;" id="edit_ok{{ component.id }}">
                                <i class="fa fa-check" aria-hidden="true">Available.</i>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="types">Type</label>
                            <input type="text" class="form-control" id="types" name="types"
                                value="{{ component.types }}">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="editsave{{ component.id }}">Save</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endfor %}
<script>
function componentvalidate(element) {
	$("#login_ok").hide();
	$("#login_not").hide();
    document.getElementById("save").disabled = false;
	componentname = $(element).val();
	if (componentname == "") {
		return;
	}
	$.ajax({
		url : $(element).attr("data-url"),
		data : {
            "componentname":componentname,
			"csrfmiddlewaretoken" : '{{ csrf_token }}',
		},
		method: "POST",
		dataType : "json",
		success : function (data) {
			if (data.is_success) {
				$("#login_ok").show();
                document.getElementById("save").disabled = false;
			}else {
				$("#login_not").show();
                document.getElementById("save").disabled = true;
			}
		}
	});
}
function componentedit(element,id) {
    $("#edit_ok"+id).hide();
	$("#edit_not"+id).hide();
    document.getElementById("editsave"+id).disabled = false;
	componentnamevalue = $(element).val();
	if (componentnamevalue == "") {
		return false;
	}
	$.ajax({
		url : $(element).attr("data-url"),
		data : {
            "componentname":componentnamevalue,
			"csrfmiddlewaretoken" : '{{ csrf_token }}',
		},
		method: "POST",
		dataType : "json",
		success : function (data) {
			if (data.is_success) {
				 $("#edit_ok"+id).show();
                document.getElementById("editsave"+id).disabled = false;
			}else {
				$("#edit_not"+id).show();
                document.getElementById("editsave"+id).disabled = true;
			}
		}
	});
}
</script>
{% endblock %}