{% extends 'login/base.html' %}
{% block content %}
<div class="container-fluid text-right" style="margin:10px;float:right;">
    <h4 style="float:left;"> Employee Shift Details </h4>
    <h5><span style="color:red;float:right;">* Fields are Mandatory</span></h5>
</div>
<div class="card" style="margin: 10px 0px 10px 0px;"></div>
<form action="" name="shifts" id="shifts" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-4">
            <label for="shiftname">Shift Name<span style="color:red">*</span></label>
            <input type="text" class="form-control" name="shiftname" id="shiftname" onblur="shiftnamevalidate(this);" data-url="{% url 'shiftdetailsajax' %}">
            <div class="col-md-8 col-sm-8" style="color:red;display:none;margin-top: 4px;"
                id="login_not">
                <i class="fa fa-times" aria-hidden="true">Already exist.</i>
            </div>
            <div class="col-md-6 col-sm-6" style="color: green;display: none;margin-top: 4px;" id="login_ok">
                <i class="fa fa-check" aria-hidden="true">Available.</i>
            </div>
        </div>
        <div class="col-md-2">
            <label for="shortname">Short Name<span style="color:red">*</span></label>
            <input type="text" class="form-control" name="shortname" id="shortname" onblur="shortnamevalidate(this);" data-url="{% url 'shortnameajax' %}">
            <div class="col-md-10 col-sm-10" style="color:red;display:none;margin-top: 4px;"
                id="lognot">
                <i class="fa fa-times" aria-hidden="true">Already exist.</i>
            </div>
            <div class="col-md-6 col-sm-6" style="color: green;display: none;margin-top: 4px;" id="login">
                <i class="fa fa-check" aria-hidden="true">Available.</i>
            </div>
        </div>
        <div class="col-md-4">
            <label for="shiftdescription">Description</label>
            <input type="text" class="form-control" name="shiftdescription" id="shiftdescription">
        </div>
        <div class="col-md-2">
            <label for="flexibleshift">Flexible Shift (?)<span style="color:red">*</span></label>
            <select name="flexibleshift" id="flexibleshift" class="form-control">
                <option value="" disabled selected hidden>Select</option>
                <option value="1">Yes</option>
                <option value="2">No</option>
            </select>
        </div>
    </div>
    <table class="table" style="width:100%">
        <thead>
            <tr>
                <th class="table-th">Work Days</th>
                <th class="table-th">Shift In Time</th>
                <th class="table-th">Shift Out Time</th>
                <th class="table-th">Break Time</th>
                <th class="table-th">Week Off</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="checkbox" name="mondayworkingday" id="mondayworkingday" value="2" checked > Monday</td>
                <td><input type="text" style="width:75%" name="mondayintime" id="mondayintime"
                        placeholder="Select In-Time"></td>
                <td><input type="text" style="width:75%" name="mondayouttime" id="mondayouttime"
                        placeholder="Select Out-Time"></td>
                <td>
                    <input type="text" style="width:40%;float:left;" name="mondaybreaktimefrom" id="mondaybreaktimefrom"
                        placeholder="From Time">
                    <input type="text" style="width:35%;margin-left:20px;" name="mondaybreaktimeto"
                        id="mondaybreaktimeto" placeholder="To Time"></td>
                <td><select name="weekoffmonday"> 
                    <option value="" disabled selected hidden>-Select-</option>
                    <option value="1">Yes</option>
                    <option value="2" selected>No</option>
                </select></td>
            </tr>
            <tr>
                <td><input type="checkbox" name="tuesdayworkingday" id="tuesdayworkingday" value="3" checked> Tuesday</td>
                <td><input type="text" style="width:75%" name="tuesdayintime" id="tuesdayintime"
                        placeholder="Select In-Time"></td>
                <td><input type="text" style="width:75%" name="tuesdayouttime" id="tuesdayouttime"
                        placeholder="Select Out-Time"></td>
                <td>
                    <input type="text" style="width:40%;float:left;" name="tuesdaybreaktimefrom"
                        id="tuesdaybreaktimefrom" placeholder="From Time">
                    <input type="text" style="width:35%;margin-left:20px;" name="tuesdaybreaktimeto"
                        id="tuesdaybreaktimeto" placeholder="To Time">
                </td>
                <td><select name="weekofftuesday"> 
                    <option value="" disabled selected hidden>-Select-</option>
                    <option value="1">Yes</option>
                    <option value="2" selected>No</option>
                </select></td>
            </tr>
            <tr>
                <td><input type="checkbox" name="wednesdayworkingday" id="wednesdayworkingday" value="4" checked> Wednesday</td>
                <td><input type="text" style="width:75%" name="wednesdayintime" id="wednesdayintime"
                        placeholder="Select In-Time"></td>
                <td><input type="text" style="width:75%" name="wednesdayouttime" id="wednesdayouttime"
                        placeholder="Select Out-Time"></td>
                <td>
                    <input type="text" style="width:40%;float:left;" name="wednesdaybreaktimefrom"
                        id="wednesdaybreaktimefrom" placeholder="From Time">
                    <input type="text" style="width:35%;margin-left:20px;" name="wednesdaybreaktimeto"
                        id="wednesdaybreaktimeto" placeholder="To Time">
                </td>
                <td><select name="weekoffwednesday"> 
                    <option value="" disabled selected hidden>-Select-</option>
                    <option value="1">Yes</option>
                    <option value="2" selected>No</option>
                </select></td>
            </tr>
            <tr>
                <td><input type="checkbox" name="thursdayworkingday" id="thursdayworkingday" value="5" checked> Thursday</td>
                <td><input type="text" style="width:75%" name="thursdayintime" id="thursdayintime"
                        placeholder="Select In-Time"></td>
                <td><input type="text" style="width:75%" name="thursdayouttime" id="thursdayouttime"
                        placeholder="Select Out-Time"></td>
                <td>
                    <input type="text" style="width:40%;float:left;" name="thursdaybreaktimefrom"
                        id="thursdaybreaktimefrom" placeholder="From Time">
                    <input type="text" style="width:35%;margin-left:20px;" name="thursdaybreaktimeto"
                        id="thursdaybreaktimeto" placeholder="To Time">
                </td>
                <td><select name="weekoffthursday"> 
                    <option value="" disabled selected hidden>-Select-</option>
                    <option value="1">Yes</option>
                    <option value="2" selected>No</option>
                </select></td>
            </tr>
            <tr>
                <td><input type="checkbox" name="fridayworkingday" id="fridayworkingday" value="6" checked> Friday</td>
                <td><input type="text" placeholder="Select In-Time" style="width:75%" name="fridayintime" id="fridayintime"></td>
                <td><input type="text" placeholder="Select Out-Time" style="width:75%" name="fridayouttime" id="fridayouttime"></td>
                <td>
                    <input type="text" style="width:40%;float:left;" name="fridaybreaktimefrom" id="fridaybreaktimefrom"
                        placeholder="From Time">
                    <input type="text" style="width:35%;margin-left:20px;" name="fridaybreaktimeto"
                        id="fridaybreaktimeto" placeholder="To Time">
                </td>
                <td><select name="weekofffriday"> 
                    <option value="" disabled selected hidden>-Select-</option>
                    <option value="1">Yes</option>
                    <option value="2" selected>No</option>
                </select></td>
            </tr>
            <tr>
                <td><input type="checkbox" name="saturdayworkingday" id="saturdayworkingday" value="7" checked> Saturday</td>
                <td><input type="text" placeholder="Select In-Time" style="width:75%" name="saturdayintime" id="saturdayintime"></td>
                <td><input type="text" placeholder="Select Out-Time" style="width:75%" name="saturdayouttime" id="saturdayouttime"></td>
                <td>
                    <input type="text" style="width:40%;float:left;" name="saturdaybreaktimefrom" id="saturdaybreaktimefrom"
                        placeholder="From Time">
                    <input type="text" style="width:35%;margin-left:20px;" name="saturdaybreaktimeto" id="saturdaybreaktimeto"
                        placeholder="To Time">
                </td>
                <td><select name="weekoffsaturday"> 
                    <option value="" disabled selected hidden>-Select-</option>
                    <option value="1">Yes</option>
                    <option value="2" selected>No</option>
                </select></td>
            </tr>
            <tr>
                <td><input type="checkbox" name="sundayworkingday" id="sundayworkingday" value="1" checked> Sunday</td>
                <td><input type="text" placeholder="Select In-Time" style="width:75%" name="sundayintime" id="sundayintime"></td>
                <td><input type="text" placeholder="Select In-Time" style="width:75%" name="sundayouttime" id="sundayouttime"></td>
                <td>
                    <input type="text" style="width:40%;float:left;" name="sundaybreaktimefrom" id="sundaybreaktimefrom"
                        placeholder="From Time">
                    <input type="text" style="width:35%;margin-left:20px;" name="sundaybreaktimeto"
                        id="sundaybreaktimeto" placeholder="To Time">
                </td>
                <td><select name="weekoffsunday"> 
                    <option value="" disabled selected hidden>-Select-</option>
                    <option value="1" selected>Yes</option>
                    <option value="2">No</option>
                </select></td>
            </tr>
        </tbody>
    </table>
    <div class="card" style="margin: 10px 0px 10px 0px;"></div>
    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary pull-right" id="saved" >Save</button>
        <a href="{% url 'employeeshiftlist' %}">
            <button type="button" class="btn btn-primary">
                <i class="fa fa-angle-left"></i><i class="fa fa-angle-left"></i> Back
            </button>
        </a>
        </div>
    </div>
</form>
<script>
$(document).ready(function () {
    $('#sundayintime').timepicker({
        dynamic: true,
        dropdown: true,
        scrollbar: true
    });
    $('#sundayouttime').timepicker({});
    $('#sundaybreaktime').timepicker({});
    $('#mondayintime').timepicker({});
    $('#mondayouttime').timepicker({});
    $('#mondaybreaktimeto').timepicker({});
    $('#mondaybreaktimefrom').timepicker({});
    $('#tuesdayintime').timepicker({});
    $('#tuesdayottime').timepicker({});
    $('#tuesdaybreaktime').timepicker({});
    $('#wednesdayintime').timepicker({});
    $('#wednesdayouttime').timepicker({});
    $('#wednesdaybreaktime').timepicker({});
    $('#thursdayintime').timepicker({});
    $('#thursdayouttime').timepicker({});
    $('#thursdaybreaktime').timepicker({});
    $('#fridayintime').timepicker({});
    $('#fridayouttime').timepicker({});
    $('#fridaybreaktime').timepicker({});
    $('#saturdayintime').timepicker({});
    $('#saturdayouttime').timepicker({});
    $('#saturdaybreaktime').timepicker({});
});
function shiftnamevalidate(element) {
    $("#login_not").hide();
    $("#login_ok").hide(); 
    shiftname = $(element).val();
    $.ajax({
    url: $(element).attr("data-url"),
    data: {
    "shiftname": shiftname,
    "csrfmiddlewaretoken": '{{ csrf_token }}',
    },
    method: "POST",
    dataType: "json",
    success: function (data) {
    if (data.is_success) {
    $("#login_ok").show(); 
    } else {
    $("#login_not").show();
    }
    }
    });
}
function shortnamevalidate(element) {
    $("#login").hide();
    $("#lognot").hide();
    shortname = $(element).val();
    $.ajax({
    url: $(element).attr("data-url"),
    data: {
    "shortname": shortname,
    "csrfmiddlewaretoken": '{{ csrf_token }}',
    },
    method: "POST",
    dataType: "json",
    success: function (data) {
    if (data.is_success) {
    $("#login").show(); 
    } else {
    $("#lognot").show();
    }
    }
    });
}
    $(document).ready(function (){
    validate();
    $('#shiftname,#shortname, #flexibleshift,#mondayintime,#mondayouttime,#mondaybreaktimefrom,#mondaybreaktimeto,#tuesdayintime,#tuesdayouttime,#tuesdaybreaktimefrom,#tuesdaybreaktimeto,#wednesdayintime,#wednesdayouttime,#wednesdaybreaktimefrom,#wednesdaybreaktimeto,#thursdayintime,#thursdayouttime,#thursdaybreaktimefrom,#thursdaybreaktimeto,#fridayintime,#fridayouttime,#fridaybreaktimefrom,#fridaybreaktimeto,#saturdayintime,#saturdayouttime,#saturdaybreaktimefrom,#saturdaybreaktimeto,#sundayintime,#sundayouttime,#sundaybreaktimefrom,#sundaybreaktimeto').change(validate);
});
function validate(){
    if ($('#shiftname').val().length   >   0   &&
        $('#shortname').val().length  >   0   &&
        $('#flexibleshift').val().length  >   0   &&
        $('#mondayintime').val().length  >   0   &&
        $('#mondayouttime').val().length  >   0   &&
        $('#mondaybreaktimefrom').val().length  >   0   &&
        $('#mondaybreaktimeto').val().length    >   0 &&
        $('#tuesdayintime').val().length  >   0   &&
        $('#tuesdayouttime').val().length  >   0   &&
        $('#tuesdaybreaktimefrom').val().length  >   0   &&
        $('#tuesdaybreaktimeto').val().length    >   0   &&
        $('#wednesdayintime').val().length  >   0   &&
        $('#wednesdayouttime').val().length  >   0   &&
        $('#wednesdaybreaktimefrom').val().length  >   0   &&
        $('#wednesdaybreaktimeto').val().length    >   0   &&
        $('#thursdayintime').val().length  >   0   &&
        $('#thursdayouttime').val().length  >   0   &&
        $('#thursdaybreaktimefrom').val().length  >   0   &&
        $('#thursdaybreaktimeto').val().length    >   0   &&
        $('#fridayintime').val().length  >   0   &&
        $('#fridayouttime').val().length  >   0   &&
        $('#fridaybreaktimefrom').val().length  >   0   &&
        $('#fridaybreaktimeto').val().length    >   0   &&
        $('#saturdayintime').val().length  >   0   &&
        $('#saturdayouttime').val().length  >   0   &&
        $('#saturdaybreaktimefrom').val().length  >   0   &&
        $('#saturdaybreaktimeto').val().length    >   0   &&
        $('#sundayintime').val().length  >   0   &&
        $('#sundayouttime').val().length  >   0   &&
        $('#sundaybreaktimefrom').val().length  >   0   &&
        $('#sundaybreaktimeto').val().length    >   0){
        $("#saved").prop("disabled", false);
    }
    else {
        $("#saved").prop("disabled", true);
    }
}   
</script>
{% endblock %}