{% extends 'login/dashboard.html' %}
{% block content %}

      <div class="jumbotron">
         <h2><b>Personal Details</b></h2><br>
         <form action="/pim/update/{{ personal.id }}/" enctype="multipart/form-data" method="POST">
           {% csrf_token %}
          
          <p><label for="first_name">First Name:</label>
            <input type="text" name="first_name" value="{{ personal.first_name }}" placeholder="{{ personal.first_name }}" required><br>
          </p> 

          <p><label for="middle_name">Middle Name:</label>
              <input type="text" name="middle_name" value="{{ personal.middle_name }}" placeholder="{{ personal.middle_name }}" required>
          </p>

          <p><label for="last_name">Last Name:</label>
              <input type="text" name="last_name"  value="{{ personal.last_name }}" placeholder="{{ personal.last_name }}" required>
          </p>
          
          <p><label for="employee_id">Employee ID:</label>
            <input type="text" name="employee_id"  value="{{ personal.employee_id }}" placeholder="{{ personal.employee_id }}" required> 
          </p>
          <p><label for="date_of_birth">Date Of Birth:</label>
              <input type="date" name="date_of_birth"  id="date_of_birth" value="{{ personal.date_of_birth }}" placeholder="{{ personal.date_of_birth }}"> 
          </p>
          <p>
          <table>
            <tr>
              <td>Marital Status:</td>
              <td>
                <select name="marital_status">
                  <option value="">Select</option>
                  <option value="1" {% if personal.marital_status == 1 %}selected{% endif %}>Married</option>
                  <option value="2" {% if personal.marital_status == 2 %}selected{% endif %}>Single</option>
                  <option value="3" {% if personal.marital_status == 3 %}selected{% endif %}>Other</option>
                </select>
              </td>
            </tr>
          </table>
          </p>
          <p>
          <table>
            <tr>
              <td>Gender:</td>
              <td>
                  <select name="gender">
                      <option value="">Select</option>
                      <option value="1" {% if personal.gender == 1 %}selected{% endif %}>Male</option>
                      <option value="2" {% if personal.gender == 2 %}selected{% endif %}>Female</option>
                    </select>
              </td>
            </tr>
          </table>
          </p>
          <p>
          <table>
             <tr>
                <td>Nationality:</td>
                <td>
                    <select name="nationality">
                      <option value="">Select</option>
                        {% for loc in locations %}
                          <option value="{{ loc.id }}" {% if personal.nationality ==  loc.id %} selected {% endif %} >{{ loc.location }}</option>
                        {% endfor %}                        
                 </select>
                </td>
              </tr>
            </table>
            </p>
            <p>
              <label for="nick_name">Nick Name:</label>
                <input type="text" name="nick_name" id="nick_name" value="{{personal.nick_name}}" placeholder="{{personal.nick_name}}">
            </p>

          <p><label for="aadhar_card_no">Aadhar Card No:</label>
            <input type="number" name="aadhar_card_no" id="aadhar_card_no" value="{{personal.aadhar_card_no}}" placeholder="{{personal.aadhar_card_no}}">
          </p>

                <div class="jumbotron">
                    <h2><b>Employment Details</b></h2><br>
                     <p><label for="joined_date">Joined Date:</label>
                         <input type="date" name="joined_date"  value="{{personal.joined_date}}"> 
                     </p>
                     <p><label for="date_of_permanency">Date Of Permanency:</label>
                       <input type="date" name="date_of_permanency"  value="{{personal.date_of_permanency}}" placeholder="{{personal.date_of_permanency}}"> 
                     </p>
                     <p>
                     <table>
                       <tr>
                         <td>Job Title:</td>
                         <td>
                           <select name="job_title">
                              <option value="">Select</option>
                              {% for job in jobtitles %}
                             <option value="{{ job.id }}" {% if personal.job_title ==  job.id %} selected {% endif %} >{{ job.jobtitle }}</option>
                             {% endfor %}
                            </select>
                         </td>
                       </tr>
                       </table>
                       </p>
                         <p>
                         <table>
                           <tr>
                             <td>Employment Status:</td>
                             <td>
                               <select name="employment_status">
                                 <option value="">Select</option>
                                 {% for job in employmentstatus %}
                                 <option value="{{ job.id }}" {% if personal.employment_status ==  job.id %} selected {% endif %} >{{ job.employementstatus }}</option>
                                 {% endfor %}
                                      </select>
                             </td>
                           </tr>
                         </table>
                         </p>
                         <p>
                     <table>
                       <tr>
                         <td>Job Category:</td>
                         <td>
                           <select name="job_category">
                             <option value="">Select</option>
                             {% for job in jobcategory %}
                             <option value="{{ job.id }}" {% if personal.job_category ==  job.id %} selected {% endif %} >{{ job.jobcategory }}</option>
                             {% endfor %}
                       </select>
                         </td>
                       </tr>
                       </table>
                       </p>
                     <p>
                     <table>
                       <tr>
                         <td>Work Shift:</td>
                         <td>
                           <select name="work_shifts">
                             <option value="">Select</option>
                             <option value="1" {% if personal.work_shifts == 1 %}selected{% endif %}>General</option>
                             <option value="2" {% if personal.work_shifts == 2 %}selected{% endif %}>Twilight</option>
                           </select>
                         </td>
                       </tr>
                       </table>
                       </p>  
                     <p>
                     <input type="submit" name="btn btn-primary" value="Update">
                    </p> 
                </div>
         </form>
     </div>
    </div>
{% endblock %}

