{% extends 'login/dashboard.html' %}
{% block content %}
<div class="container-fluid text-right" style="margin:10px;">
    <a href="/pim/details/">
        <h4 style="float: left;margin-left: -22px;color:black;">Employees List </h4>
        <button type="button" class="btn btn-primary">
            Add
        </button>
    </a>
</div>
<div class="card" style="margin: 10px 0px 10px 0px;"></div>
    <table id="example" class="table table-striped nowrap" style="width:100%">
        <thead>
            <tr>
                <th>Emp ID</th>
                <th>Name</th>
                <th>Department</th>
                <th>Job Title</th>
                <th>Reporting To</th>
                <th>Work Location</th>
                <th>Emp Type</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for personal in personals %}
            <tr>
                <td>{{ personal.employee_id }} </td>
                <td>{{ personal.first_name }} {{ personal.middle_name }} {{ personal.last_name }}</td>
                <td>{{ personal.department }}</td>
                <td>{{ personal.job_title }}</td>
                {% if  personal.reportingTo_id  == 99999%}
                <td>Self</td>
                {% else %}
                <td>{{ personal.reportingTo_id.first_name }} {{ personal.reportingTo_id.middle_name }} {{ personal.reportingTo_id.last_name }}</td>
                {% endif %}
                <td>{{ personal.worklocation }}</td>
                <td>{{ personal.employment_status }}</td>
                <td style="text-align: center;" data-toggle="tooltip" title="Click to edit">
                    <a href="/pim/edit/{{ personal.id }}" >
                        <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}