{% extends 'login/dashboard.html' %}
{% block content %}
<div class="container-fluid text-right" style="margin:10px;">
    <a href="/pim/details/">
        <button type="button" class="btn btn-primary">
            Add
        </button>
    </a>
</div>
<div class="card" style="margin: 10px 0px 10px 0px;"></div>
    <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Employee ID</th>
                <th>Name</th>
                <th>Department</th>
                <th>Job Title</th>
                <th>Employment Status</th>
                <th>Work Location</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for personal in personals %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ personal.employee_id }}</td>
                <td>{{ personal.first_name }} {{ personal.middle_name }} {{ personal.last_name }}</td>
                <td>{{ personal.department }}</td>
                <td>{{ personal.job_title }}</td>
                <td>{{ personal.employment_status }}</td>
                <td>{{ personal.worklocation }}</td>
                <td style="text-align: center;">
                    <a href="/pim/edit/{{ personal.id }}">
                        <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}