{% extends 'login/dashboard.html' %}
{% block content %}
<form action="" enctype="multipart/form-data" method="POST">
  {% csrf_token %}
  <div class="card" style="margin-top: 10px;" id="perdetails">
    <div class="card-header">
      <h5 class="card-title" id="addjobtitleLabel">Personal Details</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <label for="FirstName">First Name</label><span>*</span>
          <input type="text" class="form-control" name="first_name" id="first_name" value="" required>
        </div>
        <div class="col-md-4">
          <label for="MiddleName">Middle Name</label>
          <input type="text" class="form-control" name="middle_name" id="middle_name" value="" required>
        </div>
        <div class="col-md-4">
          <label for="LastName">Last Name</label><span>*</span>
          <input type="text" class="form-control" name="last_name" id="last_name" value="" required>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <label for="DateOfBirth">Date Of Birth</label><span>*</span>
          <input type="date" class="form-control" name="date_of_birth" id="date_of_birth" value="" required>
        </div>
        <div class="col-md-4">
          <label for="Gender">Gender</label>
          <select name="gender" class="form-control">
            <option value="">Select</option>
            <option value="1">Male</option>
            <option value="2">Female</option>
          </select>
        </div>
        <div class="col-md-4">
          <label for="MaritalStatus">Marital Status</label>
          <select name="marital_status" class="form-control">
            <option value="">Select</option>
            <option value="1">Married</option>
            <option value="2">Single</option>
            <option value="3">Divorce</option>
            <option value="4">Widow</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <label for="Location">Nationality</label>
          <select name="nationality" class="form-control">
            <option value="">Select</option>
            {% for loc in locations %}
            <option value="{{ loc.id }}">{{ loc.location }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-md-4">
          <label for="MiddleName">Aadhaar Number</label>
          <input type="number" class="form-control" name="aadhar_card_no" id="aadhar_card_no" value="" required>
        </div>
        <div class="col-md-4">
          <label for="nickname">Nick Name</label><span>*</span>
          <input type="text" class="form-control" name="nick_name" id="nick_name" value="" required>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" style="float:right;">
          <button type="button" class="btn btn-primary pull-right" onclick="somefunction(1);">
            Next <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="card" style="margin-top: 10px;display:none;" id="empdetails">
    <div class="card-header">
      <h5 class="card-title" id="addjobtitleLabel">Employment Details</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <label for="joined_date">Joined Date:</label><span>*</span>
          <input type="date" class="form-control" name="joined_date" id="joined_date" required>
        </div>
        <div class="col-md-4">
          <label for="date_of_permanency">Date Of Permanency:</label>
          <input type="date" class="form-control" name="date_of_permanency" id="date_of_permanency" value="" required>
        </div>
        <div class="col-md-4">
          <label for="JobTitle">Job Title</label>
          <select name="job_title" class="form-control">
            <option value="">Select</option>
            {% for job in jobtitles %}
            <option value="{{ job.id }}">{{ job.jobtitle }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-md-4">
          <label for="Department">Department</label>
          <select name="department" class="form-control">
            <option value="">Select</option>
            {% for dept in departments %}
            <option value="{{ dept.id }}">{{ dept.departmentname }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label for="EmploymentStatus">Employment Status</label><span>*</span>
          <select name="employment_status" class="form-control">
            <option value="">Select</option>
            {% for job in employmentstatus %}
            <option value="{{ job.id }}">{{ job.employementstatus }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-md-4">
          <label for="JobCategory">Job Category</label>
          <select name="job_category" class="form-control">
            <option value="">Select</option>
            {% for job in jobcategory %}
            <option value="{{ job.id }}">{{ job.jobcategory }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-md-4">
          <label for="WorkShift">Work Shift</label>
          <select name="work_shifts" class="form-control">
            <option value="">Select</option>
            <option value="1">General</option>
            <option value="2">Twilight</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" style="float:right;">
          <button type="submit" class="btn btn-primary pull-right">
            Save
          </button>
          <button type="button" class="btn btn-primary" onclick="somefunction(2);">
            <i class="fa fa-angle-left"></i><i class="fa fa-angle-left"></i> Prev
          </button>
        </div>
      </div>

    </div>
  </div>
</form>

<script>
  function somefunction(val) {
    if (val == 1) {
      if (document.getElementById('first_name').value == '') {
        alert("firstname cannot be empty");
        return false;
      }
      document.getElementById('empdetails').style.display = 'block';
      document.getElementById('perdetails').style.display = 'none';
    } else {
      document.getElementById('empdetails').style.display = 'none';
      document.getElementById('perdetails').style.display = 'block';
    }

  }
</script>
{% endblock %}