{% extends 'login/dashboard.html' %}
{% block content %}
<form action="" name="emplist" id="emplist" enctype="multipart/form-data" method="POST" novalidate>
  {% csrf_token %}
  <div class="card" style="margin-top: 20px;" id="perdetails">
    <div class="card-header">
      <h5 class="card-title" id="addjobtitleLabel">Personal Details</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <label for="FirstName">First Name<span style="color:red;">*</span></label>
          <input type="text" class="form-control" name="first_name" id="first_name" value=""
            placeholder="Enter First Name" required>
          <div class="error" id="firstnameErr"></div>
        </div>
        <div class="col-md-4">
          <label for="MiddleName">Middle Name</label>
          <input type="text" class="form-control" name="middle_name" id="middle_name" value=""
            placeholder="Enter Middle Name">
          <div class="error" id="midnameErr"></div>
        </div>
        <div class="col-md-4">
          <label for="LastName">Last Name<span style="color:red;">*</span></label>
          <input type="text" class="form-control" name="last_name" id="last_name" value="" placeholder="Enter Last Name"
            required>
          <div class="error" id="lastnameErr"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <label for="DateOfBirth">Date Of Birth<span style="color:red;">*</span></label>
          <input type="date" class="form-control" name="date_of_birth" id="date_of_birth" value="" required>
          <div class="error" id="dobErr"></div>
        </div>
        <div class="col-md-4">
          <label for="personalemail">Personal E-mail ID<span style="color:red;">*</span></label>
          <input type="email" class="form-control" name="personalemailid" id="personalemailid" value="" required
            placeholder="Enter personal E-mail Id">
            <div class="error" id="personalemailidErr"></div>
        </div>
        <div class="col-md-4">
          <label for="mobilenumber">Mobile Number<span style="color:red;">*</span></label>
          <input type="text" class="form-control" name="mobilenumber" id="mobilenumber" value="" required
            placeholder="Enter Mobile Number">
            <div class="error" id="mobilenumberErr"></div>
        </div>
        <div class="col-md-4">
          <label for="Gender">Gender<span style="color:red;">*</span></label>
          <select name="gender" id="gender" class="form-control" required>
            <option value="" disabled selected hidden>Select Gender</option>
            <option value="">Select</option>
            <option value="1">Male</option>
            <option value="2">Female</option>
          </select>
          <div class="error" id="genderErr"></div>
        </div>
        <div class="col-md-4">
          <label for="MaritalStatus">Marital Status<span style="color:red;">*</span></label>
          <select name="marital_status" id="marital_status" class="form-control" required>
            <option value="" disabled selected hidden>Select Marital Status</option>
            <option value="">Select</option>
            <option value="1">Married</option>
            <option value="2">Single</option>
            <option value="3">Divorce</option>
            <option value="4">Widow</option>
          </select>
          <div class="error" id="maritalstatusErr"></div>
        </div>
        <div class="col-md-4">
          <label for="Location">Nationality<span style="color:red;">*</span></label>
          <select name="nationality" id="nationality" class="form-control" required>
            <option value="" disabled selected hidden>Select Nationality</option>
            <option value="">Select</option>
            <option value="1">Indian</option>
            <option value="2">US</option>
          </select>
          <div class="error" id="nationalityErr"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label for="MiddleName">Aadhaar Number<span style="color:red;">*</span></label>
          <input type="number" class="form-control" name="aadhar_card_no" id="aadhar_card_no" value=""
            placeholder="Enter Aadhar Number" required>
          <div class="error" id="aadharErr"></div>
          <span id="aadharcardno" style="color:red;"></span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button type="button" class="btn btn-primary pull-right" onclick="somefunction(1);">
            Next <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i>
          </button>
          <a href="{% url 'pim:employeelist' %}">
            <button type="button" class="btn btn-primary">
              <i class="fa fa-angle-left"></i><i class="fa fa-angle-left"></i> Back
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="card" style="margin-top: 10px;display:none;" id="empdetails">
    <div class="card-header">
      <h5 class="card-title" id="addjobtitleLabel">Employment Details</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <label for="joined_date">Joining Date:<span style="color:red;">*</span></label>
          <input type="date" class="form-control" name="joined_date" id="joined_date" required>
          <div class="error" id="joineddateErr"></div>
        </div>
        <div class="col-md-4">
          <label for="date_of_permanency">Date Of Permanency:<span style="color:red;">*</span></label>
          <input type="date" class="form-control" name="date_of_permanency" id="date_of_permanency" value="" required>
          <div class="error" id="dopErr"></div>
        </div>
        <div class="col-md-4">
          <label for="empllevel">Employment Level:<span style="color:red;">*</span></label>
          <select name="empllevel" id="empllevel" class="form-control" required onchange="fngetdropdownvalues(this)"
            data-url="{% url 'pim:getdropdownvalues' %}">
            <option value="" disabled selected hidden>Select Employment Level</option>
            {% for level in levels %}
            <option value="{{ level.id }}">{{ level.levelName }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-md-4">
          <label for="JobTitle">Job Title<span style="color:red;">*</span></label>
          <select name="job_title" id="job_title" class="form-control" required>
          </select>
          <div class="error" id="jobtitleErr"></div>
        </div>
        <div class="col-md-4">
          <label for="Jobgrade">Job Grade<span style="color:red;">*</span></label>
          <select name="Jobgrade" id="Jobgrade" class="form-control" required>
            <option value="" disabled selected hidden>Select Job Grade</option>
          </select>
          <div class="error" id="jobcategoryErr"></div>
        </div>
        <div class="col-md-4">
          <label for="Department">Department<span style="color:red;">*</span></label>
          <select name="department" id="department" class="form-control" required>
            <option value="" disabled selected hidden>Select Department</option>
            <option value="">Select</option>
            {% for dept in departments %}
            <option value="{{ dept.id }}">{{ dept.departmentname }}</option>
            {% endfor %}
          </select>
          <div class="error" id="departmentErr"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label for="Location">Location<span style="color:red;">*</span></label>
          <select name="worklocation" id="worklocation" class="form-control" required>
            <option value="" disabled selected hidden>Select Work Location</option>
            <option value="">Select</option>
            {% for loc in locations %}
            <option value="{{ loc.id }}">{{ loc.location }}</option>
            {% endfor %}
          </select>
          <div class="error" id="worklocationErr"></div>
        </div>
        <div class="col-md-4">
          <label for="EmploymentStatus">Employment Type<span style="color:red;">*</span></label>
          <select name="employment_status" id="employment_status" class="form-control" required>
            <option value="" disabled selected hidden>Select Employment Status</option>
            <option value="">Select</option>
            {% for job in employmentstatus %}
            <option value="{{ job.id }}">{{ job.employementstatus }}</option>
            {% endfor %}
          </select>
          <div class="error" id="employmentstatusErr"></div>
        </div>

        <div class="col-md-4">
          <label for="WorkShift">Work Shift<span style="color:red;">*</span></label>
          <select name="work_shifts" id="work_shifts" class="form-control" placeholder="Select Work Shift" required>
            <option value="" disabled selected hidden>Select Work Shift</option>
            <option value="">Select</option>
            {% for job in Shiftdetails %}
            <option value="{{ job.id }}">{{ job.shiftname }}</option>
            {% endfor %}
          </select>
          <div class="error" id="workshiftErr"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label for="companyemail">Company E-mail ID<span style="color:red;">*</span></label>
          <input type="email" class="form-control" name="companyemailid" id="companyemailid" value="" onblur="companymailvalidate(this);" data-url="{% url 'pim:details' %}" required
            placeholder="Enter Company email">
            <div class="col-md-12 col-sm-12" style="color:red;display:none;margin-top: 4px;"  id="login_not">
                <i class="fa fa-times" aria-hidden="true">Company Email-id Already exist.</i>
            </div>
            <div class="error" id="companyemailErr"></div>
        </div>
        <div class=col-md-4>
          DU Head
          <label class="switch" title="click to Enable or Disable">
            <input type="checkbox" id="duhead" name="duhead" value='1'>
            <span class="slider round"></span>
          </label>
        </div>
      </div>
      <div class="card" style="margin: 10px 0px 10px 0px;"></div>
      <h4>Assign Reporting Manager</h4>
      <div class="row">
        <div class="col-md-4">
          <label for="reportingdepartment">Reporting Department<span style="color:red;">*</span></label>
          <select name="reportingdepartment" id="reportingdepartment" class="form-control"
            onchange="fngetmanagers(this)" data-url="{% url 'pim:getmanagers' %}">
            <option value="">Select</option>
            {% for job in departments %}
            <option value="{{ job.id }}">
              {{ job.departmentname }}</option>
            {% endfor %}
          </select>
          <div class="error" id="reportingdepartmentErr">
        </div>
      </div>
      <div class=col-md-4>
        <label for="reportingmanager">Reporting Manager<span style="color:red;">*</span></label>
        <select name="reportingmanager" id="reportingmanager" class="form-control" onchange="fnsetdiplayedvalue()">
          <option value="" disabled>Select Reporting Manager</option>
          <option value="1000">Self</option>
        </select>
        <input type="hidden" name="reportingname" id="reportingname" value="">
        <div class="error" id="reportingmanagerErr"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" style="float:right;">
        <button type="button" class="btn btn-primary pull-right" id ="save" onclick="somefunction(2);">
          Save
        </button>
        <button type="button" class="btn btn-primary" onclick="somefunction(3);">
          <i class="fa fa-angle-left"></i><i class="fa fa-angle-left"></i> Prev
        </button>
      </div>
    </div>
  </div>
  </div>
</form>
<style>
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked+.slider {
    background-color: #2196F3;
  }

  input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
</style>
<script>

  function fnsetdiplayedvalue() {
    const sel = document.getElementById("reportingmanager");
    let seltext = sel.options[sel.selectedIndex].text;
    document.getElementById('reportingname').value = seltext;
  }

  function fngetmanagers(element) {

    val = $(element).val();
    idgrade = document.getElementById('Jobgrade').value;
    desturl = $(element).attr("data-url"),
      $.ajax({
        url: desturl,
        data: {
          "deptid": val,
          "idgrade": idgrade,
          "csrfmiddlewaretoken": '{{ csrf_token }}',
        },
        method: "POST",
        dataType: "json",
        success: function (data) {
          $('#reportingmanager').empty();
          $('#reportingmanager').append(new Option('Select Reporting', ''))
          $('#reportingmanager').append(new Option('Self', '1000'))
          for (var i = 0; i < data.length; i++) {
            $('#reportingmanager').append(new Option(data[i].value, data[i].id));
          }
        }
      });
  }

  function fngetdropdownvalues(element) {
    val = $(element).val();
    desturl = $(element).attr("data-url"),
      $.ajax({
        url: desturl,
        data: {
          "levelid": val,
          "reqflag": 1,
          "csrfmiddlewaretoken": '{{ csrf_token }}',
        },
        method: "POST",
        dataType: "json",
        success: function (data) {
          $('#job_title').empty();
          $('#job_title').append(new Option('Select Job Title', ''))
          for (var i = 0; i < data.length; i++) {
            $('#job_title').append(new Option(data[i].value, data[i].id));
          }
          fngetgrades(element);
        }
      });
  }

  function fngetgrades(element) {
    val = $(element).val();
    desturl = $(element).attr("data-url"),
      $.ajax({
        url: desturl,
        data: {
          "levelid": val,
          "reqflag": 2,
          "csrfmiddlewaretoken": '{{ csrf_token }}',
        },
        method: "POST",
        dataType: "json",
        success: function (data) {
          $('#Jobgrade').empty();
          $('#Jobgrade').append(new Option('Select Jobgrade', ''))
          for (var i = 0; i < data.length; i++) {
            $('#Jobgrade').append(new Option(data[i].value, data[i].id));
          }
        }
      });
  }

  function somefunction(val) {
    if (val == 1) {
      flag = false;
      var firstname = document.getElementById('first_name').value
      if (firstname == "") {
        printError("firstnameErr", "Please Enter First Name");
        return false;
      } else {
        var regex = /^[a-zA-Z\s]+$/;
        if (regex.test(firstname) === false) {
          printError("firstnameErr", "Only Characters");
          return false;
        } else {
          printError("firstnameErr", "");
          firstnameErr = false;
          flag = true;
        }
      }
      var midname = document.getElementById('middle_name').value
      if (midname != "") {
        var regex = /^[a-zA-Z\s]+$/;
        if (regex.test(midname) === false) {
          printError("midnameErr", "Only Characters");
          return false;
        } else {
          printError("midnameErr", "");
          midnameErr = false;
        }
      }
      var lastname = document.getElementById('last_name').value
      if (lastname == "") {
        printError("lastnameErr", "Please Enter Last Name");
        return false;
      } else {
        var regex = /^[a-zA-Z\s]+$/;
        if (regex.test(lastname) === false) {
          printError("lastnameErr", "Only Characters");
          return false;
        } else {
          printError("lastnameErr", "");
          lastnameErr = false;
          flag = true;
        }
      }
      var dob = document.getElementById('date_of_birth').value
      if (dob == "") {
        printError("dobErr", "Please Select DOB");
        return false;
      } else {
        var today = new Date();
        var nowyear = today.getFullYear();
        var nowmonth = today.getMonth();
        var nowday = today.getDate();
        var b = document.getElementById('date_of_birth').value;
        var birth = new Date(b);
        var birthyear = birth.getFullYear();
        var birthmonth = birth.getMonth();
        var birthday = birth.getDate();
        var age = nowyear - birthyear;
        var age_month = nowmonth - birthmonth;
        var age_day = nowday - birthday;
        if ((age == 18 && age_month <= 0 && age_day <= 0) || age < 18) {
          printError("dobErr", "Age should be minimum 18 years.");
          return false;
        }
        printError("dobErr", "");
        dobErr = false;
        flag = true;
      }
      var gen = document.getElementById('gender').value
      if (gen == "") {
        printError("genderErr", "Please Select Gender");
        return false;
      } else {
        printError("genderErr", "");
        genderErr = false;
        flag = true;
      }
      var maritalstatus = document.getElementById('marital_status').value
      if (maritalstatus == "") {
        printError("maritalstatusErr", "Please select Marital Status");
        return false;
      } else {
        printError("maritalstatusErr", "");
        maritalstatusErr = false;
        flag = true;
      }
      var nation = document.getElementById('nationality').value
      if (nation == "") {
        printError("nationalityErr", "Please select Nationality");
        return false;
      } else {
        printError("nationalityErr", "");
        nationalityErr = false;
        flag = true;
      }
      var personalemailid = document.getElementById('personalemailid').value
      if (personalemailid == "") {
        printError("personalemailidErr", "Please Enter Email-id");
        return false;
      }else {
          var emailid = document.getElementById('personalemailid').value;
          var reg = /^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i;
          if (emailid != '') {
          if (reg.test(String(emailid).toLowerCase())){
            printError("personalemailidErr", "");
          } else {
            printError("personalemailidErr", "Enter valid Email-id");
            return false;
          }
          }
          flag = true;
        }
      var mobileno = document.getElementById('mobilenumber').value
      if (mobileno == "") {
        printError("mobilenumberErr", "Please Enter Mobile number");
        return false;
      } else {
        var mobileno = document.getElementById('mobilenumber').value;
        var mobiletenDigit = /^\d{10}$/;
        if (mobileno != '') {
          if (mobileno.match(mobiletenDigit)) {
            printError("mobilenumberErr", "");
          } else {
            printError("mobilenumberErr", "Enter valid Mobile number");
            return false;
          }
        }
        flag = true;
      }
      var aadhar = document.getElementById('aadhar_card_no').value
      if (aadhar == "") {
        printError("aadharErr", "Please Enter Aadhar number");
        return false;
      } else {
        var aadhar = document.getElementById('aadhar_card_no').value;
        var adharcardTwelveDigit = /^\d{12}$/;
        if (aadhar != '') {
          if (aadhar.match(adharcardTwelveDigit)) {
            printError("aadharErr", "");
          } else {
            printError("aadharErr", "Enter valid Aadhar number");
            return false;
          }
        }
        flag = true;
      }
      if (flag == true) {
        document.getElementById('empdetails').style.display = 'block';
        document.getElementById('perdetails').style.display = 'none';
      } else {
        document.getElementById('empdetails').style.display = 'none';
        document.getElementById('perdetails').style.display = 'block';
      }

    } else if (val == 3) {
      document.getElementById('empdetails').style.display = 'none';
      document.getElementById('perdetails').style.display = 'block';
    } else {
      flag = false;
      var jd = document.getElementById('joined_date').value
      if (jd == "") {
        printError("joineddateErr", "Please Select Joining date");
        return false;
      } else {
        printError("joineddateErr", "");
        joineddateErr = false;
        flag = true;
      }
      var dop = document.getElementById('date_of_permanency').value
      if (dop == "") {
        printError("dopErr", "Please Select date of permanency");
        return false;
      } else {
        printError("dopErr", "");
        dopErr = false;
        flag = true;
      }
      var jobtitle = document.getElementById('job_title').value
      if (jobtitle == "") {
        printError("jobtitleErr", "Please select job title");
        return false;
      } else {
        printError("jobtitleErr", "");
        jobtitleErr = false;
        flag = true;
      }
      var companyemailid = document.getElementById('companyemailid').value
      if (companyemailid == "") {
        printError("companyemailErr", "Please Enter Email-id");
        return false;
      }else {
          var emailid = document.getElementById('companyemailid').value;
          var reg = /.+@(hee-esafe)\.com$/;
          if (emailid != '') {
          if (reg.test(String(emailid).toLowerCase())){
            printError("companyemailErr", "");
          }else {
            printError("companyemailErr", "Enter Company Email-id");
            return false;
          }
          }
          flag = true;
        }
      var dept = document.getElementById('department').value
      if (dept == "") {
        printError("departmentErr", "Please select the department");
        return false;
      } else {
        printError("departmentErr", "");
        departmentErr = false;
        flag = true;
      }
      var wrkloc = document.getElementById('worklocation').value
      if (wrkloc == "") {
        printError("worklocationErr", "Please select the work location");
        return false;
      } else {
        printError("worklocationErr", "");
        worklocationErr = false;
        flag = true;
      }
      var empstatus = document.getElementById('employment_status').value
      if (empstatus == "") {
        printError("employmentstatusErr", "Please select Employment Type");
        return false;
      } else {
        printError("employmentstatusErr", "");
        employmentstatusErr = false;
        flag = true;
      }
      var jobcat = document.getElementById('Jobgrade').value
      if (jobcat == "") {
        printError("jobcategoryErr", "Please select Job Grade");
        return false;
      } else {
        printError("jobcategoryErr", "");
        jobcategoryErr = false;
        flag = true;
      }
      var wrkshift = document.getElementById('work_shifts').value
      if (wrkshift == "") {
        printError("workshiftErr", "Please select Work shifts");
        return false;
      } else {
        printError("workshiftErr", "");
        workshiftErr = false;
        flag = true;
      }
      var repdept = document.getElementById('reportingdepartment').value
      if (repdept == "") {
        printError("reportingdepartmentErr", "Please select Reporting Department");
        return false;
      } else {
        printError("reportingdepartmentErr", "");
        reportingdepartmentErr = false;
        flag = true;
      }
      var repmanager = document.getElementById('reportingmanager').value
      if (repmanager == "") {
        printError("reportingmanagerErr", "Please select Reporting Manager");
        return false;
      } else {
        printError("reportingmanagerErr", "");
        reportingmanagerErr = false;
        flag = true;
      }
      if (flag == false) {
        document.getElementById('empdetails').style.display = 'block';
        document.getElementById('perdetails').style.display = 'none';
      } else {
        document.getElementById('emplist').submit();
      }
    }
  }
  function printError(elemId, hintMsg) {
    var Msg = hintMsg.fontcolor("red");
    document.getElementById(elemId).innerHTML = Msg;
  }
  function companymailvalidate(element) {
	$("#login_not").hide();
	companyemailidvalue = $(element).val();
	$.ajax({
		url : $(element).attr("data-url"),
		data : {
            "companyemailid":companyemailidvalue,
			      "csrfmiddlewaretoken" : '{{ csrf_token }}',
		},
		method: "POST",
		dataType : "json",
		success : function (data) {
			if (data.is_success) {
				// $("#login_ok").show(); 
                // document.getElementById("save").disabled = false; 
			}else {
				$("#login_not").show();
			}
		}
	});
}
</script>
{% endblock %}