{% extends 'login/base.html' %}
{% block content %}
{% if perms.organisation.view_leveldefinition %}
<div class="container-fluid text-right clearfix" style="margin:10px;float:right;">
    <h4 style="float: left;">Organisation Level List</h4>
    <a href="{% url 'organisation:addlevel' %}">
        {% if perms.organisation.add_leveldefinition %}
        <button type="button" class="btn btn-primary">
            Add
        </button>
        {% endif %}
    </a>
</div>
<div class="card" style="margin: 10px 0px 10px 0px;"></div>
<table id="example" class="table table-striped nowrap" style="width:100%">
    <thead>
        <tr>
            <th>#</th>
            <th>Level Name</th>
            <th>Parent Level</th>
            <th>Short Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for level in leveldetails %}
        <form action="/organisation/updatelist/{{ level.id }}/" name="levelslist" id="levelslist" method="POST">
            {% csrf_token %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ level.levelName}}</td>
                <td>{{ level.parent}}</td>
                <td>{{ level.shortName }}</td>
                <td title="Click to view">
                    {% if perms.organisation.change_leveldefinition %}
                    <a data-toggle="collapse" href="#collapseExample{{ level.id }}" role="button" aria-expanded="false"
                        aria-controls="collapseExample">
                        <i class="fa fa-angle-down" style="font-size:24px"></i>
                    </a>
                    {% endif %}
                </td>
            </tr>
            <tr class="collapse" id="collapseExample{{ level.id }}">
                <td></td>
                <td>Designation:<br /><br />
                    {% for designationdetails in level.assigneddesignations%}
                    <input type="checkbox"> {{ designationdetails.designations.jobtitle }}
                    {% endfor %}
                    <br />
                    <br />
                    <select name="designation" id="designation" class="form-control">
                        <option value="" disabled selected hidden>Select Designations</option>
                        {% for designations in alldesignations %}
                        <option value="{{designations.id}}">{{designations.jobtitle}}</option>
                        {% endfor %}
                    </select>
                    <br />
                </td>
                <td>Grade: <br /><br />
                    {% for gradedetails in level.assignedgrades%}
                    <input type="checkbox"> {{ gradedetails.grades.jobgrade}}
                    {% endfor %}
                    <br />
                    <br />
                    <select name="grade" class="form-control" id="grade">
                        <option value="" disabled selected hidden>Select Grades</option>
                        {% for grades in allgrades %}
                        <option value="{{grades.id}}">{{grades.jobgrade}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td> <br /><br />
                    <br /><br />
                    <input type="submit" class="btn btn-primary" id="update" value='Update'>
                </td>
            </tr>
        </form>
        {% endfor %}
    </tbody>
</table>
{% else %}
<h4 style="float: left;">You are not Authorized to view this page </h4>
{% endif %}
{% comment %}
<script>
    function somefunc() {
        flag = false;
        document.getElementById("update").disabled = true;
        var grades = document.getElementById('designation').value
        if (grades == "") {
            document.getElementById("update").disabled = true;
            return false;
        } else {
            document.getElementById("update").disabled = false;
        }
        flag = true;
        if (flag == false) {
            document.getElementById("update").disabled = true;
        } else {
            document.getElementById('levelslist').submit();
        }
    }
</script> {% endcomment %}
{% endblock %}