{% extends 'login/base.html' %}
{% block content %}
<form action="" name="emplist" id="emplist" method="POST" >
{% csrf_token %}
    <div class="container-fluid text-right" style="margin:10px;float:right;">
        <h4 style="float: left;">Organisation Level List</h4>
    <a href="{% url 'organisation:addlevel' %}">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addjobtitle">
        Add
    </button>
    </a>
    </div>
    <div class="card" style="margin: 10px 0px 10px 0px;"></div>
    <table id="example" class="table table-striped nowrap" style="width:100%">
    <thead>
        <tr>
            <th>#</th>
            <th>Level Name</th>
            <th>Parent Level</th>
            <th>Short Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for level in leveldetails %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ level.levelName}}</td>
            <td>{{ level.parent}}</td>
            <td>{{ level.shortName }}</td>
            <td><a data-toggle="collapse" 
                  href="#collapseExample{{ level.id }}"
                  role="button" 
                  aria-expanded="false" 
                  aria-controls="collapseExample">
                    <i class="fa fa-angle-down" style="font-size:24px"></i>
                </a>
            </td>
         </tr>
         <tr class="collapse" id="collapseExample{{ level.id }}">
            <td></td>
            <td>Designation:<br/><br/> 
                {% for designationdetails in level.assigneddesignations%}
                <input type="checkbox"> {{ designationdetails.designations.jobtitle }}
                {% endfor %}
            </td>
            <td>Grade: <br/><br/>
            {% for gradedetails in level.assignedgrades%}
            <input type="checkbox" > {{ gradedetails.grades.jobgrade}}
            {% endfor %}
            </td> 
         </tr>
        {% endfor %}
    </tbody>
  </table>
</form>
{% endblock %}
