{% extends 'login/base.html' %}
{% block content %}
{% if perms.organisation.add_leveldefinition %}
<form action="" name="levellist" id="levellist" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <div class="card" style="margin-top: 10px;" id="perdetails">
        <div class="card-header">
            <h5 class="card-title" id="addLevel">Add Organisation Level Details</h5>
        </div>
        <div class="card-body">
        <h5><span style="color:red;float:right;">* Fields are Mandatory</span></h5>
            <div class="row">
                <div class="col-md-6">
                    <label for="levelname">Name<font color=red>*</font></label>
                    <input type="text" class="form-control" name="levelName" id="levelName" value=""
                        placeholder="Enter Name" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="parent">Parent Level<font color=red>*</font></label>
                    <select class="form-control" name="parent" id="parent" placeholder="Select Parent Level" required>
                        <option value="" disabled selected hidden>Select Parent Level</option>
                        <option value="0">Top Level</option>
                        {% for level in levels %}
                        <option value="{{level.id}}">{{level.levelName}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="shortname">Short Name<font color=red>*</font></label>
                    <input type="text" class="form-control" name="shortname" id="shortname" value=""
                        placeholder="Enter Short Name" required maxlength="3">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label for="levelname">Job Titles at this Level<font color=red>*</font></label>
                    <br />
                    <select name="designations" id="designations" multiple="multiple" class="form-control">
                        {% for designations in alldesignations %}
                        <option value="{{designations.id}}">{{designations.jobtitle}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label for="shortname">Job Grades at this Level<font color=red>*</font></label>
                    <br />
                    <select name="grades" class="form-control" id="grades" multiple="multiple" required>
                        {% for grades in allgrades %}
                        <option value="{{grades.id}}">{{grades.jobgrade}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <br/>
            <div class="modal-footer">               
            <button type="submit" class="btn btn-primary" id="save">Save</button>
            <a href="{% url 'organisation:levelslist' %}">
                <button type="button" class="btn btn-primary">
                    <i class="fa fa-angle-left"></i><i class="fa fa-angle-left"></i> Back
                </button>
            </a>
            </div>
        </div>
    </div>
</form>
{% else %}
<h4>You are not Authorized to view this page </h4>
{% endif %}
<style>
    .btn-group .btn {
        display: block;
        min-width: 260px;
        width: auto;
        height: calc(2.25rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
</style>
<script type="text/javascript">

$(document).ready(function () {
    $('#designations').multiselect();
    $('#grades').multiselect();
});

$(document).ready(function (){
    validate();
    $('#levelName, #parent, #shortname, #designations, #grades').change(validate);
});

function validate(){
    if ($('#levelName').val().length   >   0   &&
        $('#parent').val().length  >   0   &&
        $('#shortname').val().length  >   0   &&
        $('#designations').val().length  >   0   &&
        $('#grades').val().length    >   0) {
        $("#save").prop("disabled", false);
    }
    else {
        $("#save").prop("disabled", true);
    }
}    
</script>
{% endblock %}
