{% extends 'login/base.html' %}
{% block content %}

<head>
  <style>
    .google-visualization-orgchart-node {
      border: 0px solid #b5d9ea !important;
    }
  </style>
</head>
<div class="card" style="margin-top: 10px;" id="perdetails">
  <div class="card-header">
    <h5 class="card-title" id="editjobtitleLabel">Organisation Structure </h5>
  </div>
  <div class="card-body">
    <div id="chart_div" style="width:400; height:300"></div>
  </div>
</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

  $(document).ready(function () {
    desturl = '/organisation/orgchartdata';
    $.ajax({
      url: desturl,
      data: {
        "csrfmiddlewaretoken": '{{ csrf_token }}',
      },
      method: "POST",
      dataType: "json",
      success: function (data1) {
        google.charts.load('current', { packages: ["orgchart"] });
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
          var data = new google.visualization.DataTable();
          data.addColumn('string', 'Name');
          data.addColumn('string', 'Manager');
          data.addColumn('string', 'Designation');
          
          // For each orgchart box, provide the name, manager, and tooltip to show.
          data.addRows(data1);
          // Create the chart.
          var chart = new google.visualization.OrgChart(document.getElementById('chart_div'));
          // Draw the chart, setting the allowHtml option to true for the tooltips.
          chart.draw(data, { 'allowHtml': true });
        }
      }
    });
  });
</script>
{% endblock %}