{% extends 'login/base.html' %}
{% block content %}
{% if perms.attendance.view_employeeattendance %}
<div class="container-fluid text-right" style="margin:10px;float:right;">
    <h4 style="float:left;">Process Attendance</h4>
</div>
<div class="card" style="margin: 10px 0px 10px 0px;"></div>
<form action="/attendance/uploadattendance/" method="post" name="form" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        {% if perms.attendance.add_employeeattendance %}
        <div class="col-md-6">
            <label for="uploadattendance">Upload Attendance File</label><span style="color:red;">*</span>
            <input type="file" class="form-control" title="Upload excel file" name="uploadattendance" 
                style="border: 1px solid black; padding: 5px;" required="required">
            <span id="attendanceerror" style="display:none;color:red;"></span>    
        </div>
        <div class="col-md-6">
            <button type="submit" class="btn btn-primary" id="save" style="margin-top:30px;">Upload</button>
            <!-- <button type="button" class="btn btn-primary" onclick={% url 'attendance:uploadattendance'%}>Clear</button> -->
        </div>
        {% endif %}
    </div>
</form>
<div class="card" style="margin: 10px 0px 10px 0px;"></div>
{% if saved_details %}
 <table id="example" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <!-- <th>#</th> -->
            <th>Date</th>
            <th>Emp ID</th>
            <th>Emp Name</th>
            <th>Shift</th>
            <th>In Time</th>
            <th>Out Time</th>
            <th>Worked hours</th>
            <th>OT</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for detais in saved_details %}
        <tr>
            <!-- <td>{{ forloop.counter }}</td> -->
            <td>{{ detais.attendance_date | date:'d-m-Y' }}</td>
            <td>{{ detais.employee_code.employee_id }}</td>
            <td>{{ detais.employee_name }}</td>
            <td>{{ detais.employee_shift }}</td>
            <td>{{ detais.employee_intime | date:'H:i' }}</td>
            <td>{{ detais.employee_outime | date:'H:i' }}</td>
            <td>{{ detais.employee_workduration | date:'H:i' }}</td>
            <td>{{ detais.employee_OT | date:'H:i' }}</td>
             {% if detais.attendance_status == 1 %}
             <td> P </td>
             {% elif detais.attendance_status == 2 %}
             <td> A </td>
             {% else %}
             <td> A </td>
             {% endif %}
        </tr>
        {% endfor %}
        <tr>
            <td style="float:right;">
                <a class="btn btn-primary pull-right" href="{% url 'attendance:uploadattendance' %}">Clear</button>
            </td>
        </tr>
    </tbody>
</table>
{% endif %}
{% else %}
<h4>You are not Authorized to view this page </h4>
{% endif %}
{% endblock %}