{% extends 'login/base.html' %}
{% block content %}
<div class="container-fluid text-right" style="margin:10px;float:right;">
    <h4 style="float:left;"> Employee Shift Details </h4>
</div>
<div class="card" style="margin: 10px 0px 10px 0px;"></div>
<form action="" name="shifts" id="shifts" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-4">
            <label for="shiftname">Shift Name<span style="color:red">*</span></label>
            <input type="text" class="form-control" name="shiftname" id="shiftname">
        </div>
        <div class="col-md-2">
            <label for="shortname">Short Name<span style="color:red">*</span></label>
            <input type="text" class="form-control" name="shortname" id="shortname">
        </div>
        <div class="col-md-4">
            <label for="shiftdescription">Description<span style="color:red">*</span></label>
            <input type="text" class="form-control" name="shiftdescription" id="shiftdescription" required>
        </div>
        <div class="col-md-2">
            <label for="flexible">Flexible Shift (?)<span style="color:red">*</span></label>
            <select name="flexible" id="flexible" class="form-control" required>
                <option value="" disabled selected hidden>Select</option>
                <option value="1">Yes</option>
                <option value="2">No</option>
            </select>
        </div>
    </div>
    <table class="table" style="width:100%">
        <thead>
            <tr>
                <th class="table-th">Work Days</th>
                <th class="table-th">Shift In Time</th>
                <th class="table-th">Shift Out Time</th>
                <th class="table-th">Break Time</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="checkbox" name="workingday" id="workingday" value="2"> Monday</td>
                <td><input type="text" style="width:75%" name="mondayintime" id="mondayintime"
                        placeholder="Select In-Time"></td>
                <td><input type="text" style="width:75%" name="mondayouttime" id="mondayouttime"
                        placeholder="Select Out-Time"></td>
                <td>
                    <input type="text" style="width:40%;float:left;" name="mondaybreaktimefrom" id="mondaybreaktimefrom"
                        placeholder="From Time">
                    <input type="text" style="width:35%;margin-left:20px;" name="mondaybreaktimeto"
                        id="mondaybreaktimeto" placeholder="To Time">
                </td>
            </tr>
            <tr>
                <td><input type="checkbox" name="workingday" id="workingday" value="3"> Tuesday</td>
                <td><input type="text" style="width:75%" name="tuesdayintime" id="tuesdayintime"
                        placeholder="Select In-Time"></td>
                <td><input type="text" style="width:75%" name="tuesdayouttime" id="tuesdayouttime"
                        placeholder="Select Out-Time"></td>
                <td>
                    <input type="text" style="width:40%;float:left;" name="tuesdaybreaktimefrom"
                        id="tuesdaybreaktimefrom" placeholder="From Time">
                    <input type="text" style="width:35%;margin-left:20px;" name="tuesdaybreaktimeto"
                        id="tuesdaybreaktimeto" placeholder="To Time">
                </td>
            </tr>
            <tr>
                <td><input type="checkbox" name="workingday" id="workingday" value="4"> Wednesday</td>
                <td><input type="text" style="width:75%" name="wednesdayintime" id="wednesdayintime"
                        placeholder="Select In-Time"></td>
                <td><input type="text" style="width:75%" name="wednesdayouttime" id="wednesdayouttime"
                        placeholder="Select Out-Time"></td>
                <td>
                    <input type="text" style="width:40%;float:left;" name="wednesdaybreaktimefrom"
                        id="wednesdaybreaktimefrom" placeholder="From Time">
                    <input type="text" style="width:35%;margin-left:20px;" name="wednesdaybreaktimeto"
                        id="wednesdaybreaktimeto" placeholder="To Time">
                </td>
            </tr>
            <tr>
                <td><input type="checkbox" name="workingday" id="workingday" value="5"> Thursday</td>
                <td><input type="text" style="width:75%" name="thursdayintime" id="thursdayintime"
                        placeholder="Select In-Time"></td>
                <td><input type="text" style="width:75%" name="thursdayouttime" id="thursdayouttime"
                        placeholder="Select Out-Time"></td>
                <td>
                    <input type="text" style="width:40%;float:left;" name="thursdaybreaktimefrom"
                        id="thursdaybreaktimefrom" placeholder="From Time">
                    <input type="text" style="width:35%;margin-left:20px;" name="thursdaybreaktimeto"
                        id="thursdaybreaktimeto" placeholder="To Time">
                </td>
            </tr>
            <tr>
                <td><input type="checkbox" name="workingday" id="workingday" value="6"> Friday</td>
                <td><input type="text" placeholder="Select In-Time" style="width:75%" name="fridayintime"
                        id="fridayintime"></td>
                <td><input type="text" placeholder="Select Out-Time" style="width:75%" name="fridayouttime"
                        id="fridayouttime"></td>
                <td>
                    <input type="text" style="width:40%;float:left;" name="fridaybreaktimefrom" id="fridaybreaktimefrom"
                        placeholder="From Time">
                    <input type="text" style="width:35%;margin-left:20px;" name="fridaybreaktimeto"
                        id="fridaybreaktimeto" placeholder="To Time">
                </td>
            </tr>
            <tr>
                <td><input type="checkbox" name="workingday" id="workingday" value="7"> Saturday</td>
                <td><input type="text" placeholder="Select In-Time" style="width:75%" name="saturdayintime"
                        id="saturdayintime"></td>
                <td><input type="text" placeholder="Select Out-Time" style="width:75%" name="saturdayouttime"
                        id="saturdayouttime"></td>
                <td>
                    <input type="text" style="width:40%;float:left;" name="saturdaybreaktimefrom"
                        id="saturdaybreaktimefrom" placeholder="From Time">
                    <input type="text" style="width:35%;margin-left:20px;" name="saturdaybreaktimeto"
                        id="saturdaybreaktimeto" placeholder="To Time">
                </td>
            </tr>
            <tr>
                <td><input type="checkbox" name="workingday" id="workingday" value="1"> Sunday</td>
                <td><input type="text" placeholder="Select In-Time" style="width:75%" name="sundayintime"
                        id="sundayintime"></td>
                <td><input type="text" placeholder="Select In-Time" style="width:75%" name="sundayouttime"
                        id="sundayouttime"></td>
                <td>
                    <input type="text" style="width:40%;float:left;" name="sundaybreaktimefrom" id="sundaybreaktimefrom"
                        placeholder="From Time">
                    <input type="text" style="width:35%;margin-left:20px;" name="sundaybreaktimeto"
                        id="sundaybreaktimeto" placeholder="To Time">
                </td>
            </tr>
        </tbody>
    </table>
    <div class="card" style="margin: 10px 0px 10px 0px;"></div>
    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary pull-right">Save</button>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        $('#sundayintime').timepicker({});
        $('#sundayouttime').timepicker({});
        $('#sundaybreaktimeto').timepicker({});
        $('#sundaybreaktimefrom').timepicker({});

        $('#mondayintime').timepicker({});
        $('#mondayouttime').timepicker({});
        $('#mondaybreaktimeto').timepicker({});
        $('#mondaybreaktimefrom').timepicker({});

        $('#tuesdayintime').timepicker({});
        $('#tuesdayouttime').timepicker({});
        $('#tuesdaybreaktimeto').timepicker({});
        $('#tuesdaybreaktimefrom').timepicker({});

        $('#wednesdayintime').timepicker({});
        $('#wednesdayouttime').timepicker({});
        $('#wednesdaybreaktimeto').timepicker({});
        $('#wednesdaybreaktimefrom').timepicker({});

        $('#thursdayintime').timepicker({});
        $('#thursdayouttime').timepicker({});
        $('#thursdaybreaktimeto').timepicker({});
        $('#thursdaybreaktimefrom').timepicker({});

        $('#fridayintime').timepicker({});
        $('#fridayouttime').timepicker({});
        $('#fridaybreaktimeto').timepicker({});
        $('#fridaybreaktimefrom').timepicker({});

        $('#saturdayintime').timepicker({});
        $('#saturdayouttime').timepicker({});
        $('#saturdaybreaktimeto').timepicker({});
        $('#saturdaybreaktimefrom').timepicker({});
    });
</script>

{% endblock %}