{% extends 'login/base.html' %}
{% block content %}
<div class="container-fluid text-right" style="margin:10px;">
    <h4 style="float: left;margin-left: -22px;">Leave Structure </h4>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addleavestructure">
        Add
    </button>
</div>
<div class="card" style="margin: 10px 0px 10px 0px;"></div>
<table id="example" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>#</th>
            <th>Leave Structure</th>
            <th>Description</th>
            <th>Short Name</th>
            <th>Entitled Leave Types</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for leave in leaves %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ leave.leavestructure }}</td>
            <td style="width:300px;">Experience level between {{ leave.experincefrom }} months and {{ leave.experienceto }} months</td>
            <td>{{ leave.shortname }}</td>
            <td>{{ leave.assignedleavetypes }}</td>

            <td data-toggle="tooltip" title="Click to edit">
                <a style="padding-left: 20px;" href="#" data-toggle="modal"
                    data-target="#editleavestructure{{ leave.id }}">
                    <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
                </a>
                <a style="padding-left: 20px;" data-toggle="tooltip" title="Link / Unlink Leave Types"
                    href="/leaves/relationwithleave/{{ leave.id }}">
                    <i class="fa fa-link fa-lg" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<div class="modal fade" id="addleavestructure" tabindex="-1" role="dialog" aria-labelledby="addleavestructureLabel"
    aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addleavestructureLabel">Add Leave Structure</h5>
            </div>
            <form action="" name="addstructure" id="addstructure" method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="leavestructure">Leave Structure Name<font color=red>*</font></label>
                            <input type="text" class="form-control" id="leavestructure" name="leavestructure" value="" onblur="structurevalidate(this);" data-url="{% url 'leaves:leavestructureajax' %}" required>
                            <div class="col-md-8 col-sm-8" style="color:red;display:none;margin-top: 4px;"  id="login_not">
                                <i class="fa fa-times" aria-hidden="true">Already exist.</i>
                            </div>
                            <div class="col-md-6 col-sm-6" style="color: green;display: none;margin-top: 4px;" id="login_ok">
                                <i class="fa fa-check" aria-hidden="true">Available.</i>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="leavetype">Short Name<font color=red>*</font></label>
                            <input type="text" class="form-control" id="shortname" name="shortname" value=""
                                maxlength='3' onblur="shortvalidate(this);" data-url="{% url 'leaves:shortnameajax' %}" required>
                            <div class="col-md-10 col-sm-10" style="color:red;display:none;margin-top: 4px;"  id="edit_not">
                                <i class="fa fa-times" aria-hidden="true">Already exist.</i>
                            </div>
                            <div class="col-md-6 col-sm-6" style="color: green;display: none;margin-top: 4px;" id="edit_ok">
                                <i class="fa fa-check" aria-hidden="true">Available.</i>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <label for="leavedescription">Description</label>
                            <input type="text" class="form-control" id="leavedescription" name="leavedescription"
                                value="" placeholder="Enter Description">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="expfrom">Experience From<font color=red>*</font></label>
                            <select name="experincefrom" id="experincefrom" class="form-control" value=""
                                required>
                                <option value="" disabled selected hidden>Select Experience Level</option>
                                <option value="0">0 months</option>
                                <option value="6">6 months</option>
                                <option value="12">12 months</option>
                                <option value="18">18 months</option>
                                <option value="24">24 months</option>
                                <option value="30">30 months</option>
                                <option value="36">36 months</option>
                                <option value="42">42 months</option>
                            </select> 
                        </div>
                        <div class="col-md-4">
                            <label for="expto">Experience To<font color=red>*</font></label>
                            <select name="experienceto" id="experienceto" class="form-control" value=""
                                required>
                                <option value="" disabled selected hidden>Select Experience Level</option>
                                <option value="6">6 months</option>
                                <option value="12">12 months</option>
                                <option value="18">18 months</option>
                                <option value="24">24 months</option>
                                <option value="30">30 months</option>
                                <option value="36">36 months</option>
                                <option value="42">42 months</option>
                                <option value="48">48 months</option>
                                <option value="54">54 months</option>
                                <option value="60">60 months</option>
                                <option value="66">66 months</option>
                                <option value="72">72 months</option>
                                <option value="78">78 months</option>
                                <option value="84">84 months</option>
                                <option value="90">90 months</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="levelname">Level<font color=red>*</font></label>
                            <br />
                            <select name="levels" id="levels" multiple="multiple" class="form-control">
                                {% for orgs in orglevel %}
                                <option value="{{orgs.id}}">{{orgs.levelName}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="save">Save</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% for leave in leaves %}
<div class="modal fade" id="editleavestructure{{leave.id}}" tabindex="-1" role="dialog"
    aria-labelledby="editleavestructureLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editleavestructureLabel">Edit Leave Structure</h5>
            </div>
            <form action="/leaves/editleavestructure/{{ leave.id }}/" name="editstructure" id="editstructure"
                method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="leave
                            structure">Leave Structure Name<font color=red>*</font></label>
                            <input type="text" class="form-control" id="leavestructure" name="leavestructure"
                                value="{{ leave.leavestructure }}" onblur="editstructurevalidate(this,{{ leave.id }});" data-url="{% url 'leaves:editleavestructureajax' leave.id %}" required>
                            <div class="col-md-8 col-sm-8" style="color:red;display:none;margin-top: 4px;"  id="log_not{{ leave.id }}">
                                <i class="fa fa-times" aria-hidden="true">Already exist.</i>
                            </div>
                            <div class="col-md-6 col-sm-6" style="color: green;display: none;margin-top: 4px;" id="log_ok{{ leave.id }}">
                                <i class="fa fa-check" aria-hidden="true">Available.</i>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="leavetype">Short Name<font color=red>*</font></label>
                            <input type="text" class="form-control" id="shortname" name="shortname"
                                value="{{ leave.shortname }}" maxlength='3' onblur="editshortvalidate(this,{{ leave.id }});" data-url="{% url 'leaves:editshortnameajax' leave.id %}" required>
                            <div class="col-md-10 col-sm-10" style="color:red;display:none;margin-top: 4px;"  id="editin_not{{ leave.id }}">
                                <i class="fa fa-times" aria-hidden="true">Already exist.</i>
                            </div>
                            <div class="col-md-6 col-sm-6" style="color: green;display: none;margin-top: 4px;" id="editin_ok{{ leave.id }}">
                                <i class="fa fa-check" aria-hidden="true">Available.</i>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <label for="leavedescription">Description</label>
                            <input type="text" class="form-control" id="leavedescription" name="leavedescription"
                                value="{{ leave.leavedescription }}">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <!-- <h5 class="modal-title" id="addleavestructureLabel">Applies for Employees with</h5> -->
                            <label for="expfrom">Experience From<font color=red>*</font></label>
                            <select name="experincefrom" id="experincefrom" class="form-control" required>
                                <option value="" disabled selected hidden>Select Experience Level</option>
                                <option value="0" {% if leave.experincefrom == 0 %}selected{% endif %}>0 months</option>
                                <option value="6" {% if leave.experincefrom == 6 %}selected{% endif %}>6 months</option>
                                <option value="12" {% if leave.experincefrom == 12 %}selected{% endif %}>12 months</option>
                                <option value="18" {% if leave.experincefrom == 18 %}selected{% endif %}>18 months</option>
                                <option value="24" {% if leave.experincefrom == 24 %}selected{% endif %}>24 months</option>
                                <option value="30" {% if leave.experincefrom == 30 %}selected{% endif %}>30 months</option>
                                <option value="36" {% if leave.experincefrom == 36 %}selected{% endif %}>36 months</option>
                                <option value="42" {% if leave.experincefrom == 42 %}selected{% endif %}>42 months</option>
                            </select> 
                        </div>
                        <div class="col-md-4">
                            <label for="expto">Experience To {{ leave.experienceto }}<font color=red>*</font></label>   
                            <select name="experienceto" id="experienceto" class="form-control" required onchange="fngetsomething();">
                                <option value="" disabled selected hidden>Select Experience Level</option>
                                <option value="6" {% if leave.experienceto == 6 %}selected{% endif %}>6 months</option>
                                <option value="12" {% if leave.experienceto == 12 %}selected{% endif %}>12 months</option>
                                <option value="18" {% if leave.experienceto == 18 %}selected{% endif %}>18 months</option>
                                <option value="24" {% if leave.experienceto == 24 %}selected{% endif %}>24 months</option>
                                <option value="30" {% if leave.experienceto == 30 %}selected{% endif %}>30 months</option>
                                <option value="36" {% if leave.experienceto == 36 %}selected{% endif %}>36 months</option>
                                <option value="42" {% if leave.experienceto == 42 %}selected{% endif %}>42 months</option>
                                <option value="48" {% if leave.experienceto == 48 %}selected{% endif %}>48 months</option>
                                <option value="54" {% if leave.experienceto == 54 %}selected{% endif %}>54 months</option>
                                <option value="60" {% if leave.experienceto == 60 %}selected{% endif %}>60 months</option>
                                <option value="66" {% if leave.experienceto == 66 %}selected{% endif %}>66 months</option>
                                <option value="72" {% if leave.experienceto == 72 %}selected{% endif %}>72 months</option>
                                <option value="78" {% if leave.experienceto == 78 %}selected{% endif %}>78 months</option>
                                <option value="84" {% if leave.experienceto == 84 %}selected{% endif %}>84 months</option>
                                <option value="90" {% if leave.experienceto == 90 %}selected{% endif %}>90 months</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="levelname">Level<font color=red>*</font></label>
                            <br />
                                {% for level in leave.assignedlevels%}
                                {{ level.levels.levelName }} &nbsp;
                                {% endfor %}
                            <select name="levels" id="levels" multiple="multiple" class="form-control">
                                {% for orgs in orglevel %}
                                <option value="{{orgs.id}}">{{orgs.levelName}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="editsave{{ leave.id }}">Save</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endfor %}
<script>
$(document).ready(function () {
    $('#levels').multiselect();
});

function fngetsomething(){
    var val = document.getElementById("experincefrom").value;
    alert(val);
}
function structurevalidate(element) {
	$("#login_ok").hide();
	$("#login_not").hide();
    document.getElementById("save").disabled = false;
	leavestructure = $(element).val();
	$.ajax({
		url : $(element).attr("data-url"),
		data : {
            "leavestructure":leavestructure,
			"csrfmiddlewaretoken" : '{{ csrf_token }}',
		},
		method: "POST",
		dataType : "json",
		success : function (data) {
			if (data.is_success) {
				$("#login_ok").show();
                document.getElementById("save").disabled = false;
			}else {
				$("#login_not").show();
                document.getElementById("save").disabled = true;
			}
		}
	});

}
function editstructurevalidate(element,id) {
	$("#log_ok"+id).hide();
	$("#log_not"+id).hide();
    document.getElementById("editsave"+id).disabled = false;
	leavestructure = $(element).val();
	$.ajax({
		url : $(element).attr("data-url"),
		data : {
            "leavestructure":leavestructure,
			"csrfmiddlewaretoken" : '{{ csrf_token }}',
		},
		method: "POST",
		dataType : "json",
		success : function (data) {
			if (data.is_success) {
				 $("#log_ok"+id).show(); 
                 document.getElementById("editsave"+id).disabled = false; 
			}else {
				$("#log_not"+id).show();
                document.getElementById("editsave"+id).disabled = true;
			}
		}
	});
}
 function shortvalidate(element) {
	$("#edit_ok").hide();
	$("#edit_not").hide();
    document.getElementById("save").disabled = false;
	shortname = $(element).val();
	$.ajax({
		url : $(element).attr("data-url"),
		data : {
            "shortname":shortname,
			"csrfmiddlewaretoken" : '{{ csrf_token }}',
		},
		method: "POST",
		dataType : "json",
		success : function (data) {
			if (data.is_success) {
				 $("#edit_ok").show();
                document.getElementById("save").disabled = false;
			}else {
				$("#edit_not").show();
                document.getElementById("save").disabled = true;
			}
		}
	});
}
function editshortvalidate(element,id) {
	$("#editin_ok"+id).hide();
	$("#editin_not"+id).hide();
    document.getElementById("editsave"+id).disabled = false;
	shortname = $(element).val();
	$.ajax({
		url : $(element).attr("data-url"),
		data : {
            "shortname":shortname,
			"csrfmiddlewaretoken" : '{{ csrf_token }}',
		},
		method: "POST",
		dataType : "json",
		success : function (data) {
			if (data.is_success) {
				 $("#editin_ok"+id).show(); 
                 document.getElementById("editsave"+id).disabled = false; 
			}else {
				$("#editin_not"+id).show();
                document.getElementById("editsave"+id).disabled = true;
			}
		}
	});
} 
</script>
{% endblock %}
