{% extends 'login/base.html' %}
{% block content %}
{% if perms.leaves.view_leavestructure %}
<div class="container-fluid text-right clearfix" style="margin:10px;">
    <h4 style="float: left;margin-left: -22px;">Leave Structure </h4>
    {% if perms.leaves.add_leavestructure %}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addleavestructure">
        Add
    </button>
    {% endif %}
</div>
<div class="card" style="margin: 10px 0px 10px 0px;"></div>
<table id="example" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>#</th>
            <th>Leave Structure</th>
            <th>Description</th>
            <th>Short Name</th>
            <th>Entitled Leave Types</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for leave in leaves %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ leave.leavestructure }}</td>
            <td style="width:300px;">Experience level between {{ leave.experincefrom }} months and {{ leave.experienceto }} months</td>
            <td>{{ leave.shortname }}</td>
            <td>{{ leave.assignedleavetypes }}</td>

            <td data-toggle="tooltip" title="Click to edit">
                {% if perms.leaves.change_leavestructure %}
                <a style="padding-left: 20px;" href="#" data-toggle="modal"
                    data-target="#editleavestructure{{ leave.id }}">
                    <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
                </a>
                {% endif %}

                {% if perms.leaves.change_leavestructure %}
                <a style="padding-left: 20px;" data-toggle="tooltip" title="Link / Unlink Leave Types"
                    href="/leaves/relationwithleave/{{ leave.id }}">
                    <i class="fa fa-link fa-lg" aria-hidden="true"></i>
                </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<div class="modal fade" id="addleavestructure" tabindex="-1" role="dialog" aria-labelledby="addleavestructureLabel"
    aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addleavestructureLabel">Add Leave Structure</h5>
            </div>
            <form action="" name="addstructure" id="addstructure" method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="leavestructure">Leave Structure Name</label><span>*</span>
                            <input type="text" class="form-control" id="leavestructure" name="leavestructure" value="" onblur="structurevalidate(this);" data-url="{% url 'leaves:leavestructure' %}" required>
                            <div class="col-md-6 col-sm-6" style="color:red;display:none;margin-top: 4px;"  id="login_not">
                                <i class="fa fa-times" aria-hidden="true">Already exist.</i>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="leavetype">Short Name</label><span>*</span>
                            <input type="text" class="form-control" id="shortname" name="shortname" value=""
                                maxlength='3' onblur="shortvalidate(this);" data-url="{% url 'leaves:validateleavestructure' %}" required>
                            <div class="col-md-6 col-sm-6" style="color:red;display:none;margin-top: 4px;"  id="login">
                                <i class="fa fa-times" aria-hidden="true">Already exist.</i>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <label for="leavedescription">Description</label>
                            <input type="text" class="form-control" id="leavedescription" name="leavedescription"
                                value="" placeholder="Enter Description">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="expfrom">Experience From</label><span>*</span>
                            <select name="experincefrom" id="experincefrom" class="form-control" value=""
                                required>
                                <option value="" disabled selected hidden>Select Experience Level</option>
                                <option value="0">0 months</option>
                                <option value="6">6 months</option>
                                <option value="12">12 months</option>
                                <option value="18">18 months</option>
                                <option value="24">24 months</option>
                                <option value="30">30 months</option>
                                <option value="36">36 months</option>
                                <option value="42">42 months</option>
                            </select> 
                        </div>
                        <div class="col-md-4">
                            <label for="expto">Experience To</label><span>*</span>
                            <select name="experienceto" id="experienceto" class="form-control" value=""
                                required>
                                <option value="" disabled selected hidden>Select Experience Level</option>
                                <option value="6">6 months</option>
                                <option value="12">12 months</option>
                                <option value="18">18 months</option>
                                <option value="24">24 months</option>
                                <option value="30">30 months</option>
                                <option value="36">36 months</option>
                                <option value="42">42 months</option>
                                <option value="48">48 months</option>
                                <option value="54">54 months</option>
                                <option value="60">60 months</option>
                                <option value="66">66 months</option>
                                <option value="72">72 months</option>
                                <option value="78">78 months</option>
                                <option value="84">84 months</option>
                                <option value="90">90 months</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="save">Save</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% for leave in leaves %}
<div class="modal fade" id="editleavestructure{{leave.id}}" tabindex="-1" role="dialog"
    aria-labelledby="editleavestructureLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editleavestructureLabel">Edit Leave Structure</h5>
            </div>
            <form action="/leaves/editleavestructure/{{ leave.id }}/" name="editstructure" id="editstructure"
                method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="leave
                            structure">Leave Structure Name</label><span>*</span>
                            <input type="text" class="form-control" id="leavestructure" name="leavestructure"
                                value="{{ leave.leavestructure }}" onblur="editstructurevalidate(this,{{ leave.id }});" data-url="{% url 'leaves:editleavestructure' leave.id %}" required>
                            <div class="col-md-6 col-sm-6" style="color:red;display:none;margin-top: 4px;"  id="log_not{{ leave.id }}">
                                <i class="fa fa-times" aria-hidden="true">Already exist.</i>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="leavetype">Short Name</label><span>*</span>
                            <input type="text" class="form-control" id="shortname" name="shortname"
                                value="{{ leave.shortname }}" maxlength='3' onblur="editshortvalidate(this,{{ leave.id }});" data-url="{% url 'leaves:validateeditleavestructure' leave.id %}" required>
                            <div class="col-md-6 col-sm-6" style="color:red;display:none;margin-top: 4px;"  id="log{{ leave.id }}">
                                <i class="fa fa-times" aria-hidden="true">Already exist.</i>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <label for="leavedescription">Description</label>
                            <input type="text" class="form-control" id="leavedescription" name="leavedescription"
                                value="{{ leave.leavedescription }}">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <!-- <h5 class="modal-title" id="addleavestructureLabel">Applies for Employees with</h5> -->
                            <label for="expfrom">Experience From</label><span>*</span>
                            <select name="experincefrom" id="experincefrom" class="form-control" required>
                                <option value="" disabled selected hidden>Select Experience Level</option>
                                <option value="0" {% if leave.experincefrom == 0 %}selected{% endif %}>0 months</option>
                                <option value="6" {% if leave.experincefrom == 6 %}selected{% endif %}>6 months</option>
                                <option value="12" {% if leave.experincefrom == 12 %}selected{% endif %}>12 months</option>
                                <option value="18" {% if leave.experincefrom == 18 %}selected{% endif %}>18 months</option>
                                <option value="24" {% if leave.experincefrom == 24 %}selected{% endif %}>24 months</option>
                                <option value="30" {% if leave.experincefrom == 30 %}selected{% endif %}>30 months</option>
                                <option value="36" {% if leave.experincefrom == 36 %}selected{% endif %}>36 months</option>
                                <option value="42" {% if leave.experincefrom == 42 %}selected{% endif %}>42 months</option>
                            </select> 
                        </div>
                        <div class="col-md-4">
                            <label for="expto">Experience To {{ leave.experienceto }}</label><span>*</span> 
                            <select name="experienceto" id="experienceto" class="form-control" required onchange="fngetsomething();">
                                <option value="" disabled selected hidden>Select Experience Level</option>
                                <option value="6" {% if leave.experienceto == 6 %}selected{% endif %}>6 months</option>
                                <option value="12" {% if leave.experienceto == 12 %}selected{% endif %}>12 months</option>
                                <option value="18" {% if leave.experienceto == 18 %}selected{% endif %}>18 months</option>
                                <option value="24" {% if leave.experienceto == 24 %}selected{% endif %}>24 months</option>
                                <option value="30" {% if leave.experienceto == 30 %}selected{% endif %}>30 months</option>
                                <option value="36" {% if leave.experienceto == 36 %}selected{% endif %}>36 months</option>
                                <option value="42" {% if leave.experienceto == 42 %}selected{% endif %}>42 months</option>
                                <option value="48" {% if leave.experienceto == 48 %}selected{% endif %}>48 months</option>
                                <option value="54" {% if leave.experienceto == 54 %}selected{% endif %}>54 months</option>
                                <option value="60" {% if leave.experienceto == 60 %}selected{% endif %}>60 months</option>
                                <option value="66" {% if leave.experienceto == 66 %}selected{% endif %}>66 months</option>
                                <option value="72" {% if leave.experienceto == 72 %}selected{% endif %}>72 months</option>
                                <option value="78" {% if leave.experienceto == 78 %}selected{% endif %}>78 months</option>
                                <option value="84" {% if leave.experienceto == 84 %}selected{% endif %}>84 months</option>
                                <option value="90" {% if leave.experienceto == 90 %}selected{% endif %}>90 months</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="editsave{{ leave.id }}">Save</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
<h4>You are not Authorized to view this page </h4>
{% endif %}
<script>

function fngetsomething(){
    var val = document.getElementById("experincefrom").value;
    alert(val);
}
function structurevalidate(element) {
	$("#login_ok").hide();
	$("#login_not").hide();
    document.getElementById("save").disabled = false;
	leavestructure = $(element).val();
	$.ajax({
		url : $(element).attr("data-url"),
		data : {
            "leavestructure":leavestructure,
			"csrfmiddlewaretoken" : '{{ csrf_token }}',
		},
		method: "POST",
		dataType : "json",
		success : function (data) {
			if (data.is_success) {
				{% comment %} $("#login_ok").show(); {% endcomment %}
                {% comment %} document.getElementById("save").disabled = false; {% endcomment %}
			}else {
				$("#login_not").show();
                document.getElementById("save").disabled = true;
			}
		}
	});
}
function shortvalidate(element) {
	$("#login_ok").hide();
	$("#login").hide();
    document.getElementById("save").disabled = false;
	shortname = $(element).val();
	$.ajax({
		url : $(element).attr("data-url"),
		data : {
            "shortname":shortname,
			"csrfmiddlewaretoken" : '{{ csrf_token }}',
		},
		method: "POST",
		dataType : "json",
		success : function (data) {
			if (data.is_success) {
				{% comment %} $("#login_ok").show(); {% endcomment %}
                {% comment %} document.getElementById("save").disabled = false; {% endcomment %}
			}else {
				$("#login").show();
                document.getElementById("save").disabled = true;
			}
		}
	});
}
function editstructurevalidate(element,id) {
	$("#login_ok").hide();
	$("#log_not"+id).hide();
    document.getElementById("editsave"+id).disabled = false;
	leavestructure = $(element).val();
	$.ajax({
		url : $(element).attr("data-url"),
		data : {
            "leavestructure":leavestructure,
			"csrfmiddlewaretoken" : '{{ csrf_token }}',
		},
		method: "POST",
		dataType : "json",
		success : function (data) {
			if (data.is_success) {
				 $("#login_ok"+id).show(); 
                 document.getElementById("editsave"+id).disabled = false; 
			}else {
				$("#log_not"+id).show();
                document.getElementById("editsave"+id).disabled = true;
			}
		}
	});
}
function editshortvalidate(element,id) {
	$("#login_ok").hide();
	$("#log"+id).hide();
    document.getElementById("editsave"+id).disabled = false;
	shortname = $(element).val();
	$.ajax({
		url : $(element).attr("data-url"),
		data : {
            "shortname":shortname,
			"csrfmiddlewaretoken" : '{{ csrf_token }}',
		},
		method: "POST",
		dataType : "json",
		success : function (data) {
			if (data.is_success) {
				 $("#login_ok"+id).show(); 
                 document.getElementById("editsave"+id).disabled = false; 
			}else {
				$("#log"+id).show();
                document.getElementById("editsave"+id).disabled = true;
			}
		}
	});
}
</script>
{% endblock %}