{% extends 'login/base.html' %}
{% block content %}
<div class="container-fluid text-right clearfix" style="margin:10px;">
    <h4 style="float: left;margin-left: -22px;">Change Password</h4>
</div>
<div class="card" style="margin: 10px 0px 10px 0px;"></div>
<div class="card" style="margin: 10px 0px 10px 0px;">
    <div class="card-body">
        <form action="" name="addstructure" id="addstructure" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <label for="oldpassword">Current Password<span style="color:red;">*</span></label>
                    <input type="password" class="form-control" name="oldpassword" id="oldpassword" value=""
                        placeholder="Enter old password" required onblur="fncheckoldpassword(this.value)">
                        <span id="successid" style="color:red;"></span>
                </div>
                <div class="col-md-6">
                    <br>
                    <h5 style="color:red;">
                        Note: Your password must contain at least 8 characters.
                        <br>
                        Password must contain at least one Uppercase character, One Lowercase charecter, one numeral and
                        one special charecter.
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="newpassword">New Password<span style="color:red;">*</span></label>
                    <input type="password" class="form-control" name="newpassword" id="newpassword" value=""
                        placeholder="Enter New Password" onblur="fnCheckPassword(this.value)">
                    <span id="errordisplay" style="color:red;"></span>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <label for="confirmpassword">Confirm New Password<span style="color:red;">*</span></label>
                    <input type="password" class="form-control" name="confirmpassword" id="confirmpassword" value=""
                        placeholder="Enter Confirm New Password" onblur="fncheckmatch(this.value)">
                        <span id="errordisplay1" style="color:red;"></span>
                        <span id="errordisplay2" style="color:red;"></span>
                    </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12" style="float:right;">
                    <button type="button" class="btn btn-primary pull-right" onclick="clearform();"> Clear</button>
                    <button type="submit" style="margin-right:10px;" class="btn btn-primary pull-right" id="Update">
                        Update Password
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $(document).ready(function () {
        document.getElementById("Update").disabled = true;
    });

    function clearform(){
        document.getElementById("oldpassword").value = "";
        document.getElementById("confirmpassword").value = "";
        document.getElementById("newpassword").value = "";
        document.getElementById("errordisplay").innerHTML = "";
        document.getElementById("errordisplay1").innerHTML = "";
        document.getElementById("errordisplay2").innerHTML = "";
        document.getElementById("successid").innerHTML = "";
    }

    function fncheckoldpassword(inputtxt){
        desturl = '/empprofile/checkoldpassword/';
        $.ajax({
            url: desturl,
            data: {
                "oldpassword": inputtxt,
                "csrfmiddlewaretoken": '{{ csrf_token }}',
            },
            method: "POST",
            dataType: "json",
            success: function (data) {
                if(data['status'] !=1){
                    document.getElementById("successid").innerHTML = "Current password you entered is invalid.";
                }else{
                    document.getElementById("successid").innerHTML = "";
                }
            }
        });
    }

    function fnCheckPassword(inputtxt) {
        var decimal = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$/;
        if (inputtxt.match(decimal)) {
            document.getElementById("errordisplay").innerHTML = "";
        }else{
            document.getElementById("errordisplay").innerHTML = "New Password should be 8-15 charecters length and must contain uppercase, lowercase, numeral and one special charecter";
        }
    }

    function fncheckmatch(inputtxt) {
        var decimal = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$/;
        var enteredpassword = document.getElementById("newpassword").value;
        if (inputtxt.match(decimal)) {
            document.getElementById("errordisplay1").innerHTML = "";
            var n = enteredpassword.localeCompare(inputtxt);
            if(n != 0 ){
                document.getElementById("errordisplay2").innerHTML = "New Password and Confirm Password do not match.";
                document.getElementById("Update").disabled = true;
                return false;
            }
            document.getElementById("Update").disabled = false;
            return true;
        }else{
            document.getElementById("errordisplay1").innerHTML = "Confirm Password should be 8-15 charecters length and must contain uppercase, lowercase, numeral and one special charecter";
            document.getElementById("Update").disabled = true;
            return false;
        }
    }
    
</script>
{% endblock %}